doctype 5

html(ng-app="app")
    head
        {$ wiz.theme('default').layout('base').view('header.pug') $}
        
    body.antialiased
        {$ wiz.theme('default').layout('base').view('onload.pug') $}

        .wiz-navbar-page
            {$ wiz.theme('default').layout('nav').view('navbar.pug') $}
            
            mixin content
                .wiz-view
                    {$ view $}

                .wiz-footer
                    .container
                        .row
                            .col-md-3.wiz-footer-image
                                img(src="/resources/images/logo-season-black.svg" style="width: 100%; max-width: 200px; margin: 0 auto;")
                            .col-md-9
                                div (30128) 602, 12, Naseongbuk 1-ro, Sejong-si, Republic of Korea / TEL (044) 862-7370 / FAX (070) 4064-7370
                                .mt-1
                                    span.mr-2 Copyright ⓒ 2021 BY
                                    a.mr-2(href="https://www.season.co.kr" target="_blank") SEASON CO. LTD.
                                    | All Rights Reserved.
                                .mt-1 Powered BY 
                                    a(href="https://github.com/season-framework/wiz" target="_blank") WIZ

            - if menu.sub
                .wiz-content.has-subnav
                    +content()
            - else
                .wiz-content
                    +content()
