doctype 5

html(ng-app="app")
    head
        {$ wiz.theme('default').layout('base').view('header.pug') $}
        
    body.antialiased
        script(src='/resources/themes/default/libs/tabler/dist/js/tabler.min.js')

        .wiz-aside-page
            {$ wiz.theme('default').layout('aside').view('aside.pug') $}
            
            .wiz-content
                - if menu.top
                    .wiz-content-top
                        .ml-auto
                        - each menu in menu.top
                            a.wiz-top-menu(href=menu.url ng-click=menu.click)
                                span= menu.title
                    
                    .wiz-view-top
                        {$ view $}

                - else
                    .wiz-view
                        {$ view $}
