title DIZEST

meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(name='msapplication-TileColor' content='#206bc4')
meta(name='theme-color' content='#206bc4')
meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='mobile-web-app-capable' content='yes')
meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
link(rel="shortcut icon" href="/resources/images/brand/icon.ico")

// core.js
script(src='/resources/themes/dizest/core/js/jquery-3.5.1.min.js')
script(src='/resources/themes/dizest/core/js/angular.min.js')
script(src='/resources/themes/dizest/core/js/angular-sanitize.js')
script(src='/resources/themes/dizest/libs/socketio/socket.io.js')
script(src='/resources/themes/dizest/libs/toastr/toastr.min.js')
script(src='/resources/themes/dizest/libs/season/shortcut.js')
script(src='/resources/themes/dizest/libs/moment/moment-with-locales.min.js')
script(src='/resources/themes/dizest/lang/kr/moment.js')

// core css
link(href='/resources/themes/dizest/libs/fontawesome/css/all.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/tabler.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/tabler-flags.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/tabler-payments.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/tabler-vendors.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/demo.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/toastr/toastr.min.css' rel='stylesheet')

- each item in wiz_resources_css
    link(href=item rel='stylesheet')

- each item in wiz_resources_js
    script(src=item)

// wiz css
link(href='/resources/themes/dizest/core/css/theme.scss' rel='stylesheet')

script(src='/resources/themes/dizest/core/js/base.js')
script(src='/resources/themes/dizest/core/js/app.js')

// libs
script(src='/resources/themes/dizest/libs/chartjs/Chart.min.js')
script(src='/resources/themes/dizest/libs/ckeditor/balloonblock/ckeditor.js')

script(src='/resources/themes/dizest/libs/sortable/sortable.min.js')
script(src='/resources/themes/dizest/libs/sortable/sortable.ng.js')