doctype 5

html(ng-app="app")
    head
        {$ wiz.theme('dizest').layout('base').view('header.pug') $}
        
    body.antialiased                
        {$ view $}

        {$ wiz.theme('dizest').layout('base').view('onload.pug') $}