script(src='/resources/themes/dizest/libs/tabler/dist/js/tabler.min.js')

- each item in wiz_resources_js_load
    script(src=item)

- each item in wiz_resources_script
    script.
        {$ item | safe $}