.workspace-area(ng-cloak)
    div(style="display: none;")
        form#file-form
            input#file-uploader.form-control(type='file' name='file[]' accept=".png")
    
    .workspace-list
        .workspace-list-header
            .page-header.d-print-none
                .row.align-items-center
                    .col-auto
                        .text-blue.mr-1(style="font-size: 28px;")
                            i.fa-solid.fa-cogs
                    .col
                        h2.page-title= dic("title")
                        .text-muted
                            ul.list-inline.list-inline-dots.mb-0
                                li.list-inline-item= dic("desc")

        .workspace-list-item.area-round
            .container(style="max-width: 860px;")
                .card.mt-5.mb-5
                    .card-header
                        h4.card-title Hub Information

                    .card-body.p-4
                        .form-group.row
                            label.form-label.col-3.col-form-label Hub Title
                            .col
                                input.form-control(type="text" placeholder="Hub Title" ng-model="info.config.title")
                        
                        .mb-3

                        .form-group.row
                            label.form-label.col-3.col-form-label Logo
                            .col.text-left
                                .bg-primary.text-center(style="padding: 0.75rem 0; max-width: 280px; width: 100%;")
                                    img(ng-if="info.config.logo" src="{{info.config.logo}}" style="height: 32px; margin: 5px 0;")
                                    img(ng-if="!info.config.logo" src="/resources/images/brand/dizest-hub-white.png" style="height: 32px; margin: 5px 0;")

                            .col-2.if-desktop
                                .btn.btn-outline-primary.btn-block(ng-click="info.uploader.logo()") Upload
                                .btn.btn-outline-danger.btn-block.mt-2(ng-if="info.config.logo" ng-click="info.config.logo = ''") Delete

                        .mb-3

                        .form-group.row
                            label.form-label.col-3.col-form-label Icon
                            .col.text-left
                                img(ng-src="/pwa/icon.png?v={{info.timestamp.icon}}" style="height: 48px; width: 48px;")

                            .col-2.if-desktop
                                .btn.btn-outline-primary.btn-block(ng-click="info.uploader.icon()") Upload
                    
                    .card-footer.d-flex.p-2
                        .ml-auto
                        a.btn.btn-primary(ng-click="info.updater.config()") Update
                        
                .card.mb-5
                    .card-header
                        h4.card-title System Version
                        .ml-auto
                        .btn.btn-primary(ng-click="updater.upgrade()" ng-if="updater.latest.is_update") Update Available

                    .card-body.p-4
                        .form-group.row
                            label.form-label.col-3.col-form-label Core Version
                            .col
                                span.badge.bg-blue-lt.p-2 {{updater.version.dizest_version}}
                                .d-inline-block(ng-if="updater.latest.dizest_version != updater.version.dizest_version")
                                    span.p-1.d-inline-block
                                        i.fa-solid.fa-circle-arrow-right.mr-2.ml-2
                                    span.badge.bg-blue-lt.p-2.d-inline-block {{updater.latest.dizest_version}}

                        .mb-3

                        .form-group.row
                            label.form-label.col-3.col-form-label UI Version
                            .col
                                span.badge.bg-blue-lt.p-2.d-inline-block {{updater.version.dizest_ui_version}}
                                .d-inline-block(ng-if="updater.latest.dizest_ui_version != updater.version.dizest_ui_version")
                                    span.p-1.d-inline-block
                                        i.fa-solid.fa-circle-arrow-right.mr-2.ml-2
                                    span.badge.bg-blue-lt.p-2.d-inline-block {{updater.latest.dizest_ui_version}}
                
                .card.mb-5
                    .card-header
                        h4.card-title Server Info

                    .card-body.p-4
                        .form-group.row
                            label.form-label.col-3.col-form-label Process ID
                            .col
                                span.badge.bg-blue-lt.p-2 {{updater.version.process_id}}

                        .mb-3

                        .form-group.row
                            label.form-label.col-3.col-form-label Child Processes
                            .col
                                span.badge.bg-blue-lt.p-2 {{updater.version.subprocess}}

                        .mb-3

                        .form-group.row
                            label.form-label.col-3.col-form-label Working Path
                            .col
                                span.badge.bg-blue-lt.p-2 {{updater.version.cwd}}

                        .mb-3

                        .form-group.row
                            label.form-label.col-3.col-form-label Restart
                            .col
                                .btn.btn-primary(ng-click="info.restart()") Restart Server & All Kernel

                .card.mb-5
                    .card-header
                        h4.card-title Database
                    
                    .card-body.p-4
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Type
                            .col
                                .form-selectgroup
                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio" name="dbtype" value="sqlite" ng-model="database.config.db.type")
                                        span.form-selectgroup-label
                                            span sqlite
                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio" name="dbtype" value="mysql" ng-model="database.config.db.type")
                                        span.form-selectgroup-label
                                            span MySQL
                        
                        div(ng-if="database.config.db.type == 'mysql'")
                            .form-group.row.mb-3
                                label.form-label.col-3.col-form-label Database
                                .col
                                    input.form-control(type="text" placeholder="database" ng-model="database.config.db.database")

                            .form-group.row.mb-3
                                label.form-label.col-3.col-form-label Host
                                .col
                                    input.form-control(type="text" placeholder="127.0.0.1" ng-model="database.config.db.config.host")
                            
                            .form-group.row.mb-3
                                label.form-label.col-3.col-form-label Port
                                .col
                                    input.form-control(type="number" placeholder="3306" ng-model="database.config.db.config.port")

                            .form-group.row.mb-3
                                label.form-label.col-3.col-form-label User
                                .col
                                    input.form-control(type="text" placeholder="dbuser" ng-model="database.config.db.config.user")

                            .form-group.row.mb-3
                                label.form-label.col-3.col-form-label Password
                                .col
                                    input.form-control(type="password" placeholder="dbpass" ng-model="database.config.db.config.passwd")
                            
                    .card-footer.d-flex.p-2
                        .ml-auto
                        .btn.btn-primary.btn-circle(style="width: 120px;" ng-click="database.update()") Update
                        