@import url(/resources/themes/dizest/core/css/font/spoqa.css);
@import url(/resources/themes/dizest/core/css/variables.css);
@import url(/resources/themes/dizest/core/css/components/base.scss);
@import url(/resources/themes/dizest/core/css/components/btn.scss);
@import url(/resources/themes/dizest/core/css/components/background.scss);
@import url(/resources/themes/dizest/core/css/components/form.scss);

html,
body {
    font-family: 'wiz-r';
    background: var(--wiz-color-background);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wiz-aside-page {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    aside.navbar-vertical.navbar-expand-lg {
        display: flex;
        position: relative;
        width: var(--wiz-size-sidebar);
        height: 100vh;
        border-right: 1px solid var(--wiz-color-border);
        overflow: hidden;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 100%;
            z-index: 99999;
            padding: 0;
            border-right: none;
            height: auto;
            flex-direction: row;
            height: 64px;
            flex: none;
        }

        .navbar-brand-container {
            width: 100%;
            display: flex;
            text-align: center;
            height: 64px;
            background: var(--wiz-color-blue);

            .navbar-brand {
                flex: auto;
                img {
                    height: 36px;
                }
            }

            .navbar-toggler {
                color: #fff;
                align-items: flex-end;
                margin-left: 16px;
                margin-right: 16px;
            }
        }

        .navbar-collapse {
            width: 100%;
            flex: auto;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #fff;

            @media (max-width: 768px) {
                height: calc(100vh - 64px);
                position: fixed;
                top: 64px;
                left: 0;
            }

            .navbar-nav {
                margin: 0 !important;

                .nav-link, .dropdown-item {
                    color: var(--wiz-color-text);
                }

                .nav-item {
                    border-top: 1px solid var(--wiz-color-border);

                    &.nav-item-header {
                        padding: 2px 12px;
                        background: var(--wiz-color-light);
                    }

                    .nav-link {
                        font-size: 16px;
                        padding: 12px 16px !important;
                        flex: auto;
                    }
                    
                    .nav-indicator {
                        display: none;

                        .status-indicator {
                            width: 46px;
                            height: 46px;

                            .status-indicator-circle {
                                --tblr-status-circle-size: 8px;
                            }
                        }
                    }

                    &.active .nav-indicator {
                        display: block;
                    }

                    .d-flex:hover {
                        background-color: var(--wiz-color-background-lt);
                    }                    

                    &:first-child {
                        border-top: none;
                    }

                    &:last-child {
                        border-bottom: 1px solid var(--wiz-color-border);
                    }
                }

                .dropdown-menu {
                    &.active {
                        display: block;
                    }
                }

                .dropdown-item {
                    padding-left: 24px !important;
                    font-size: 14px;
                    padding-top: 8px !important;
                    padding-bottom: 8px !important;
                }

                span.nav-icon {
                    margin-right: 8px;
                }
            }
        }
    }

    .wiz-content {
        display: flex;
        flex-direction: column;
        flex: auto;
        height: 100vh;

        .wiz-top-menu {
            display: flex;
            height: 32px;
            text-align: right;
            align-items: center;
            border-bottom: 1px solid var(--wiz-color-border);
            color: var(--wiz-color-text);

            .dropdown {
                .btn {
                    height: 20px;
                    font-size: 13px;
                }

                .dropdown-menu-arrow:before {
                    left: unset;
                    right: 0.75rem !important;
                }
            }
        }

        .wiz-view {
            flex: auto;
            overflow: auto;
            background: var(--wiz-color-background-lt);
        }
    }
}
