@import url(/resources/themes/default/core/css/font/spoqa.css);
@import url(/resources/themes/default/core/css/colors.css);
@import url(/resources/themes/default/core/css/components/base.scss);
@import url(/resources/themes/default/core/css/components/btn.scss);
@import url(/resources/themes/default/core/css/components/background.scss);
@import url(/resources/themes/default/core/css/components/form.scss);

$w-xs-min: 0;
$w-xs-max: 768px;
$w-sm-min: 769px;
$w-sm-max: 1279px;
$w-lg-min: 1280px;
$w-lg-max: 2048px;
$w-xl-min: 2049px;

html,
body {
    font-family: 'wiz-r';
    background: var(--wiz-color-background);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    > .wiz-navbar-page {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: var(--wiz-color-background-lt);
        display: block;

        > header {
            margin: 0 !important;
            height: 108px;
            font-size: 14px;
            margin-top: 30px;
            z-index: 1080;
            background: #fff;
            border-bottom: 1px solid var(--wiz-color-border);

            .nav-item {
                cursor: pointer;
                padding: 0;
                font-family: 'wiz-b';
                line-height: 1;
                word-break: break-all;
                position: relative;

                &.active {
                    &:before {
                        content: "â¦";
                        position: absolute;
                        width: 100%;
                        top: -12px;
                        font-size: 16px;
                        color: var(--wiz-color-skyblue) !important;
                        text-align: center;
                    }
                }

                .nav-link {
                    color: var(--wiz-color-text);
                    font-size: 18px;
                    padding: 12px 24px !important;
                }

                &:hover{
                    border-bottom: 1px solid var(--wiz-color-skyblue) !important;
                }
            }
        }

        .wiz-content {
            position: fixed;
            width: 100vw;
            height: calc(100vh - 108px);
            top: 108px;
            overflow: auto;

            .wiz-view {
                min-height: calc(100vh - 273px);
            }

            .wiz-footer {
                border-top: 1px solid var(--wiz-color-border);
                background: var(--wiz-color-background);
            }
        }
    }
    
    > .aside-page {
        padding-left: 240px !important;

        @media (max-width: $w-xs-max) {
            padding-left: 0 !important;
        }

        .content {
            width: 100%;
            height: 100%;
            
            @media (max-width: $w-xs-max) {
                margin-top: 96px;
                height: calc(100% - 96px);
            }
        }
    }
}

// aside menu style
aside {
    width: 240px !important;
    border-right: 1px solid var(--wiz-color-border);

    @media all and (max-width: $w-xs-max) {
        display: block !important;
        position: fixed !important;
        padding: 0 !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        z-index: 99999 !important;
        overflow: auto !important;
    }

    > .container { 
        display: block !important;
        padding: 0;

        @media all and (max-width: $w-xs-max) {
            background: #fff;
            height: 100% !important;
        }
    }

    .navbar-brand-container {
        display: block;
        text-align: center;
        height: 60px;

        @media all and (max-width: $w-xs-max) {
            display: flex;
        }

        .navbar-toggler {
            @media all and (max-width: $w-xs-max) {
                align-items: flex-end;
                margin-left: 16px;
                margin-right: 16px;
            }
        }
    }

    .navbar-sub-menu {
        height: 36px;
        background-color: var(--wiz-color-primary-lt);
        border-bottom: 1px solid var(--wiz-color-border);

        .menu-list {
            display: flex;
            height: 36px;
            align-items: center;
            padding: 0 6px;

            .menu-item {
                padding: 0 2px;
                color: var(--wiz-color-text);
            }

            .btn, .form-select {
                text-align: center;
                border-radius: 16px;
            }

            .form-select {
                background-position: right 6px center;
                background-size: 8px 8px;
                padding-right: 1rem;
            }
        }
    }
    
    .navbar-collapse {
        display: block !important;
        height: calc(100vh - 96px) !important;
        overflow: auto;

        @media all and (max-width: $w-xs-max) {
            display: none !important;

            &.show {
                display: block !important;
            }
        }

        .profile-card {            
            border: none !important;
            box-shadow: none !important;
            background: transparent !important;
            color: var(--wiz-color-text) !important;

            @media all and (max-width: $w-xs-max) {
                color: #fff !important;
            }

            .footer-menu {
                border-bottom: 1px solid var(--wiz-color-primary-hover);

                @media all and (max-width: $w-xs-max) {
                    color: #fff !important;
                    border-bottom: none;
                }

                .profile-menu {
                    .divider-line {
                        margin: 0 6px;
                    }

                    &:last-child {
                        .divider-line {
                            display: none;
                        }
                    }
                }

                a {
                    color: var(--wiz-color-text) !important;

                    @media all and (max-width: $w-xs-max) {
                        color: #fff !important;
                    }
                }
            }
        }
    }
}

