@import url(/resources/themes/dizest/core/css/font/spoqa.css);
@import url(/resources/themes/dizest/core/css/variables.css);
@import url(/resources/themes/dizest/core/css/components/base.scss);
@import url(/resources/themes/dizest/core/css/components/text.scss);
@import url(/resources/themes/dizest/core/css/components/btn.scss);
@import url(/resources/themes/dizest/core/css/components/background.scss);
@import url(/resources/themes/dizest/core/css/components/form.scss);

html,
body {
    font-family: 'wiz-r';
    background: var(--wiz-color-background);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}