.workspace-area(ng-cloak)
    .workspace-list
        .workspace-list-header
            .page-header.d-print-none
                .row.align-items-center
                    .col-auto
                        .text-blue.mr-1(style="font-size: 28px;")
                            i.fa-solid.fa-magnifying-glass
                    .col
                        h2.page-title= dic("title")
                        .text-muted
                            ul.list-inline.list-inline-dots.mb-0
                                li.list-inline-item= dic("desc")

                    .col-auto.actions.area-round.if-desktop
                        input.form-control(style="width: 240px;" ng-model="workflow.query.text" ng-enter="workflow.search(true)" placeholder="Enter for search")
                    
                    .col-auto.actions.area-round.if-desktop
                        a.btn.btn-primary(ng-click="workflow.search(true)")
                            i.fa-solid.fa-magnifying-glass

        .workspace-list-item
            .container.pt-4
                .row.row-deck.row-cards
                    .p-3.col-md-3(ng-repeat="item in workflow.data")
                        .card(ng-click="viewer.select(item)" id="item-{{item.id}}")
                            .card-body.p-0.featured-area
                                .status-area
                                    b.text-blue {{item.user_id}}
                                .img-responsive(style="position: relative; background-image: url('{{item.featured}}')")
                                    svg(viewBox="0 0 16 9")
                                        rect(width="16" height="12" style="fill:rgba(255,255,255,0);")

                            .card-footer.d-flex(style="align-items: center;")
                                .avatar-area.avatar-area-sm.mr-3
                                    .avatar-container
                                        span.avatar(style="background-image: url({{item.logo}})")
                                .text-area
                                    h3.card-title.mb-0
                                        a.text-reset(style="font-size: 16px; white-space: nowrap; word-break: break-all; width: 168px; overflow: hidden; text-overflow: ellipsis;") {{item.title}}
                                    small.text-muted {{item.updated}}
        
        .workspace-list-pagenation
            .pagenation.text-center.area-round(ng-if="workflow.pager.pages.length > 0")
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="workflow.page(Math.floor((workflow.query.page-1) / 10) * 10 - 9)" ng-class="(workflow.query.page-1)/10 < 1 ? 'disabled' : ''")
                    i.fas.fa-angle-double-left
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="workflow.page(workflow.query.page*1-1)" ng-class="workflow.query.page == 1 ? 'disabled' : ''")
                    i.fas.fa-angle-left
                button.btn.btn-square.btn-sm.mr-1.ml-1(ng-repeat="p in workflow.pager.pages" ng-class="p == workflow.query.page ? 'btn-primary' : ''" ng-click="workflow.page(p)") {{p}}
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="workflow.page(workflow.query.page*1+1)" ng-class="workflow.query.page == workflow.pager.lastpage ? 'disabled' : ''")
                    i.fas.fa-angle-right
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="workflow.page(Math.ceil((workflow.query.page) / 10) * 10 + 1)" ng-class="workflow.query.page == workflow.pager.lastpage ? 'disabled' : ''")
                    i.fas.fa-angle-double-right

    div(ng-if="tab.is('viewer') && viewer.data.id")
        style.
            .workspace-list-item .card {
                opacity: 0.3;
            }

            .workspace-list-item #item-{{viewer.data.id}} {
                opacity: 1;
            }

    .workspace-tab(ng-if="tab.is('viewer')")
        .workspace-tab-body.item-panel
            .card.card-featured
                .card-cover.card-cover-blurred.text-center(style="background-image: url({{viewer.data.featured}})" ng-if="viewer.data.featured")
                    span.avatar.avatar-xl.avatar-thumb.avatar-rounded(style="background-image: url({{viewer.data.logo}})" ng-if="viewer.data.logo")

            .title-area.text-center
                .title-area-head
                    h2.card-title.mb-1 {{viewer.data.title}}
                    div {{viewer.data.version}}
                .title-area-actions
                    a.action(ng-click="viewer.copy()")
                        span Copy to my workflow
                        i.fa-solid.fa-clone.ml-2
            
            .btn.btn-white.text-dark.tab-close-btn(ng-click="tab.close()")
                i.fa-solid.fa-xmark

            .descarea.p-5(ng-bind-html="viewer.showdown(viewer.data.description)" ng-if="viewer.data.description")
            .descarea.p-5.text-center(ng-if="!viewer.data.description")
                h2 No description

    .workspace-tab(ng-if="tab.is('import')")
        .workspace-tab-header
            h3 Duplicate Workflow
            .ml-auto
            .text-white.close-btn(ng-click="tab.close()")
                i.fa-solid.fa-xmark
        
        .workspace-tab-body
            .container
                .card.mt-4
                    .card-body
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Title
                            .col
                                input.form-control(type="text" placeholder="Workflow Title" ng-model="workflow.importdata.title")
                        
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Version
                            .col
                                input.form-control(type="text" placeholder="1.0.0" ng-model="workflow.importdata.version")

                        .form-group.row
                            label.form-label.col-3.col-form-label Visibility
                            .col
                                .form-selectgroup
                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio" name="visibility" value="public" ng-model="workflow.importdata.visibility")
                                        span.form-selectgroup-label
                                            i.fa-solid.fa-share-nodes.mr-2
                                            span Public

                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio" name="visibility" value="private" ng-model="workflow.importdata.visibility")
                                        span.form-selectgroup-label
                                            i.fa-solid.fa-lock.mr-2
                                            span Private
                
                    .card-footer.d-flex.p-2
                        .mr-auto
                        button.btn.btn-primary(style="border-radius: 16px;" type="button" ng-click="workflow.create()")
                            span Import
