& {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;

    .workspace-kernel-selector {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000;
        background-color: rgba(0,0,0,.7);
        width: 100vw;
        height: 100vh;

        .kernel-select-box {
            background-color: #fff;
            padding: 32px;
            margin: 0 auto;
            border-radius: 24px;
        }
    }
    
    .workspace-list {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex: 1;

        .workspace-list-header {
            padding: 9px 32px;
            border-bottom: 1px solid var(--wiz-color-border);
            background: #fff;

            .page-header {
                margin: 0 !important;
            }
        }

        .workspace-list-item {
            width: 100%;
            flex: auto;
            display: flex;
            overflow: auto;

            .row-deck {
                justify-content: center;
                
                & > .col, & > [class*=col-] {
                    max-width: 300px;
                }
            }
        }

        .workspace-list-pagenation {
            border-top: 1px solid var(--wiz-color-border);
            background-color: #fff;
            height: 42px;
            display: flex;
            align-items: center;

            .pagenation {
                flex: auto;
            }
            
            .btn-primary {
                border-radius: 32px;
                width: 24px;
                height: 24px;
            }
        }
    }

    .workspace-tab {
        flex: 1;
        border-left: 1px solid var(--wiz-color-border);
        background: #fff;
        display: flex;
        flex-direction: column;
        max-width: 720px;

        .workspace-tab-header {
            display: flex;
            width: 100%;
            height: 36px;
            background: var(--wiz-color-blue);
            color: #fff;
            align-items: center;
            padding: 0 12px;

            h3 {
                margin: 0;
                padding: 0;
            }

            .btn, .close-btn {
                cursor: pointer;
            }
        }

        .workspace-tab-footer {
            flex: 1;
            width: 100%;
            height: 42px;
            background-color: #fff;
            border-top: 1px solid var(--wiz-color-border);

            .footer-container {
                width: 100%;
                height: 42px;
            }
        }

        .workspace-tab-body.item-panel {
            flex: auto;
            overflow: auto;
            position: relative;

            .title-area {
                position: sticky;
                top: 0;
                border-bottom: 1px solid var(--wiz-color-border);
                background-color: #fff;

                .title-area-head {
                    background-color: var(--wiz-color-blue);
                    color: white;
                    padding: 10px 0;

                    .card-title {
                        font-size: 18px;   
                    }
                }

                .title-area-actions {
                    display: flex;

                    > * {
                        flex: 1;
                        padding: 6px 0;
                        background-color: var(--wiz-color-blue-lt);
                        border-left: 1px solid var(--wiz-color-border);
                        color: var(--wiz-color-blue);
                        cursor: pointer;
                        font-family: 'wiz-eb';

                        &:first-child {
                            border-left: none;
                        }

                        &:hover {
                            background-color: var(--wiz-color-blue-hover);
                            color: #fff;
                        }
                    }
                }
            }

            .info-area {
                width: 100%;
                height: 50px;
            }

            .tab-close-btn {
                width: 32px;
                height: 32px;
                z-index: 10;
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 50%;
            }

            .card.card-featured {
                border-radius: 0;
                border: 0;
                position: relative;
                color: white;
                cursor: auto;

                &:hover {
                    box-shadow: none;
                }
            }
            
            .card-cover:first-child, .card-cover:first-child:before {
                padding: 48px 0;
                border-radius: 0;
            }
        }
    }
}

.w-1 {
    white-space: nowrap;
    text-align: center;
    padding: 0 12px;
}

th {
    text-align: center;
}

th, td {
    text-align: center;
}

.nav.nav-tabs {
    .nav-link {
        border-bottom: 1px solid rgba(101,109,119,.16);
    }

    .nav-link.active {
        font-family: 'wiz-eb';
        color: inherit;
        border-bottom: 1px solid #fff;
    }
}

.card {
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }
}

.card-header {
    .btn {
        padding: 4px 12px;
        font-family: 'wiz-eb';
        font-size: 14px;
    }
}

.img-responsive {
    width: 100%;
    display: block;
    padding: 0;
    background: no-repeat center/cover;
}

.btn-page {
    margin: 0 2px;
}

h1 {
    border: none !important;
}

.description {
    min-height: 200px;
}

$borderradius: 18px;

.main-menu {
    .menu-panel {
        display: flex;
        border: 1px solid #2F374E;
        background-color: #2F374E;
        color: white;
        border-bottom: none;
        border-radius: $borderradius;
        padding: 8px;
        margin-bottom: 16px;

        .menu-item {
            padding: 8px 16px;
            font-size: 16px;

            a {
                color: white;
            }
        }

        @media screen and (max-width:720px){ 
            display: block;
            text-align: center;
        }
    }
}

.search-panel {
    background-image: url("/resources/images/main.jpg"); 
    padding-top: 64px; 
    padding-bottom: 64px; 
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: $borderradius;

    padding-right: 24px;
    padding-left: 24px;

    .input-group {
        margin: 0 auto;
        max-width: 480px;
        border-radius: $borderradius;
        text-align: center;

        input {
            padding: 12px 16px;
            border-top-left-radius: $borderradius;
            border-bottom-left-radius: $borderradius;
            text-align: center;
        }

        button {
            padding: 12px 16px;
            padding-right: 24px;
            border-top-right-radius: $borderradius;
            border-bottom-right-radius: $borderradius;
        }
    }
}

.card {
    $br: 14px;
    border-radius: $br;
    
    .img-responsive {
        border-top-right-radius: $br;
        border-top-left-radius: $br;
    }

    > div:last-child {
        border-bottom-right-radius: $br;
        border-bottom-left-radius: $br;
    }
}

$radius: 24px;
.actions {
    > * {
        margin-left: 8px;
    }

    .btn {
        min-width: 76px;
        padding: 8px 16px;
        font-weight: 1000;
        border-radius: $radius;
    }

    .btn-group {
        @media (max-width: 768px) {
            display: block;
        }

        .btn {
            border-radius: 0;

            @media (max-width: 768px) {
                display: block;
                width: 100%;
                border-radius: 0;

                &:not(:first-child) {
                    border-top: none;
                }
            }
        }

        .btn.btn-active {
            background-color: var(--wiz-color-red);
            color: #ffffff;
        }

        .btn:first-child {
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;

            @media (max-width: 768px) {
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;
                border-bottom-left-radius: 0;
            }
        }

        .btn:last-child {
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;

            @media (max-width: 768px) {
                border-bottom-left-radius: $radius;
                border-bottom-right-radius: $radius;
                border-top-right-radius: 0;
            }
        }   
    }
}

.featured-area {
    position: relative;

    .status-area {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255,255,255,.8);
        border-top-left-radius: 13px;
        border-bottom-right-radius: 13px;
        border-right: 1px solid var(--wiz-color-border);
        border-bottom: 1px solid var(--wiz-color-border);
        padding: 4px 12px;
        width: 120px;
        text-align: center;
        z-index: 10;
    }   
}

.drive-area {
    border-left: none;
    display: flex;
    flex-direction: column;
    flex: auto;

    .drive-footer {
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 12px;
        border-top: 1px solid var(--wiz-color-border);
    }

    .list-back {
        height: auto;
    }

    .workspace-tab-body {
        flex: auto;
        height: 100%;
        background-color: white;
    }

    .w-1 {
        width: 8px;
        white-space: nowrap;
        text-align: center;
    }

    .filename {
        word-break: break-all;
    }

    th {
        text-align: center;
    }

    tr {
        .d-flex {
            .form-control {
                border-radius: 36px;
            }
        }
        
        .actions {
            font-size: 24px;
            
            .dropdown {
                display: inline-block;
                
                ul {
                    display: none;

                    i {
                        width: 20px;
                        margin-right: 4px;
                    }
                }
            }

            .dropdown, .btn {
                opacity: 0;
                min-width: 48px;
                margin: 0;
            }
        }

        &:hover {
            .dropdown {
                display: inline-block;

                ul.show {
                    display: block;
                }
            }
            
            .dropdown, .btn {
                opacity: 1;
            }
        }
    }

    th, td {
        padding: 8px 12px;
        cursor: initial;

        .icon-box {
            display: inline-block;
        }

        a {
            color: #2F374E;
            cursor: pointer;
        }
        
        .avatar-container {
            display: flex;
            align-items: center;
            height: 32px;
            width: 32px;
            border-radius: 4px;
            text-align: center;
            vertical-align: middle;
            background-color: var(--wiz-color-border);
            color: #666;

            &.folder {
                background-color: #92CEFF;
                color: #51ACF6;
            }

            i {
                width: 32px;
                text-align: center;
            }
        }
    }
}
