.workspace.area-round(ng-cloak)
    div(style="display: none;")
        form#file-form
            input#file-uploader.form-control(type='file' name='file[]' multiple)

    .workspace-kernel-selector(ng-if="kernel.status == 'stop'")
        .kernel-select-box
            h3.text-center Kernel is not started yet
            .text-center.text-muted select and start kernel for use workflow
            .mb-4
            .d-flex
                .dropdown(ng-if="kernel.is('stop')")
                    button.btn.btn-white.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                        span(style="width: 120px; overflow: hidden;" ng-if="!kernel.spec") Select kernel
                        span(style="width: 120px; overflow: hidden;" ng-if="kernel.spec") {{kernel.spec.title}}
                    
                    ul.dropdown-menu.dropdown-menu-dark
                        li(ng-repeat="spec in kernel.specs")
                            a.dropdown-item(ng-click="kernel.select(spec)") {{spec.title}}
                .mr-2
                a.btn.btn-primary(ng-click="kernel.start()" ng-if="kernel.is('stop')")
                    i.fa-solid.fa-play.mr-2
                    span Start Kernel
            
            .mb-3
            a.btn.btn-link.btn-block(href=url)
                i.fa-solid.fa-circle-chevron-left.mr-2
                span return to workflow list

    .workspace-header
        .page-header.d-print-none
            .row.align-items-center
                .col-auto.if-desktop
                    span.status-indicator.status-indicator-animated(class="{{kernel.status_class()}}")
                        span.status-indicator-circle
                        span.status-indicator-circle
                        span.status-indicator-circle
                .col
                    h2.page-title
                        span {{workflow.data.title}}

                .col-auto.actions
                    a.btn.btn-white.if-desktop(ng-if="!kernel.is('stop')" style="width: 160px; overflow: hidden;") {{kernel.spec.title}}

                    a.btn.btn-white.if-desktop(ng-click="kernel.kill()" ng-if="!kernel.is('stop')")
                        i.fa-solid.fa-stop.mr-2
                        span Stop Kernel

                    a.btn.btn-white(ng-if="!kernel.is('running')" ng-click="workflow.run()")
                        i.fa-solid.fa-play

                    a.btn.btn-white(ng-if="kernel.is('running')" ng-click="kernel.stop()")
                        i.fa-solid.fa-stop(ng-if="kernel.is('running')")

                    a.btn.btn-white(ng-click="kernel.refresh()")
                        i.fa-solid.fa-refresh

                    a.btn.btn-white.if-desktop(ng-click="workflow.save()")
                        i.fa-solid.fa-save

                    a.btn.btn-white.if-desktop(ng-click="workflow.download()")
                        i.fa-solid.fa-cloud-arrow-down

                    a.btn.btn-white.btn-circle(href=url)
                        i.fa-solid.fa-xmark

    .workspace-body
        .show-toggle(ng-click="leftmenu.show()" ng-if="leftmenu.hidden")
            i.fa-solid.fa-caret-right

        .app.if-desktop(ng-if="!leftmenu.hidden && !leftmenu.is('drive') && workflow.display")
            .hide-toggle(ng-click="leftmenu.hide()")
                i.fa-solid.fa-caret-left

            .app-search
                input.form-control.search-form(placeholder="enter for search" ng-model="app.query" ng-change="app.search(app.query)")
                button.btn.btn-primary.ml-1(ng-click="app.import()")
                    i.fa-solid.fa-upload

            .app-list
                .no-items.text-center.p-6(ng-if="app.data.length == 0")
                    i.fa-solid.fa-cube
                    .mt-2 No Apps

                .app-info(ng-repeat="item in app.data" ng-if="!app.ishide[item.id]" draggable="true" ondragstart="dragdrop.drag(event)" data-node="{{item.id}}" ng-mouseover="app.hover = item.id" ng-mouseleave="app.hover = null")
                    .avatar-area.avatar-area-sm.mr-3
                        .avatar-container
                            span.avatar(style="background-image: {{ item.logo ? 'url(' + item.logo + ')' : '#fff' }}" ng-cloak)
                    .title-area
                        .app-header.mb-1.pb-1 {{item.title}}
                        .app-namespace.text-muted {{item.version}}
                    .ml-auto
                        button.btn.btn-white.btn-sm(ng-click="app.delete(item.id)")
                            i.fa-solid.fa-xmark
                        button.btn.btn-primary.btn-sm(ng-click="workflow.add(item.id)")
                            i.fa-solid.fa-plus

        .workspace-tab.drive-area.if-desktop(ng-if="!leftmenu.hidden && leftmenu.is('drive')")
            .workspace-tab-header
                .workspace-tab-header-title
                    input.form-check-input.mr-2(type="checkbox" ng-click="drive.check()" ng-model="drive.checked_all")
                    span Drive
                .ml-auto
                .btn.btn-white.btn-sm.mr-2(ng-click="drive.api.ls()")
                    i.fa-solid.fa-refresh.text-blue
                .btn.btn-white.btn-sm.mr-2(ng-click="drive.create()")
                    i.fa-solid.fa-plus.text-blue
                .btn.btn-white.btn-sm.mr-3(ng-click="drive.upload()")
                    i.fa-solid.fa-upload.text-blue
                .text-white.close-btn(ng-click="leftmenu.toggle('app')")
                    i.fa-solid.fa-xmark
            
            .list-back
                table.table.table-sm.table-vcenter.mb-0
                    tr
                        td.text-muted.bg-dark-lt(style="padding: 4px 12px;")
                            small {{drive.current? drive.current : '/'}}

            .list-back(ng-if="drive.current != ''")
                table.table.table-sm.table-hover.table-vcenter.mb-0
                    tr
                        td.text-left.cursor-pointer.bg-primary-lt(ng-click="drive.cd('..')")
                            svg.icon.mr-2(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round")
                                path(stroke="none" d="M0 0h24v24H0z" fill="none")
                                path(d="M18 18h-6a3 3 0 0 1 -3 -3v-10l-4 4m8 0l-4 -4")
                            span ...

            .workspace-tab-body.p-0(ng-drop="drive.drop")
                .hide-toggle(ng-click="leftmenu.hide()")
                    i.fa-solid.fa-caret-left

                table.table.table-sm.table-hover.table-vcenter.mb-5
                    tr(ng-if="drive.is_create")
                        td.w-1.pr-0
                        td.w-1.pr-0
                            .avatar-area.avatar-area-sm
                                .avatar-container.folder
                                    i.fa-solid.fa-folder
                        td(colspan=2)
                            .d-flex
                                input.form-control(ng-model="drive.create_name" ng-enter="drive.api.create()" placeholder="folder name")
                                .btn.btn-primary.btn-circle.ml-2(style="width: 36px;" ng-click="drive.api.create()")
                                    i.fa-solid.fa-check

                    tr(ng-repeat="file in drive.files" ng-if="file.name[0] != '.'")
                        td.w-1.pr-0
                            input.form-check-input(type="checkbox" ng-model="file.checked" ng-click="drive.check(file)")
                        td.w-1.pr-0(ng-click="drive.check(file)")
                            .avatar-area.avatar-area-sm
                                .avatar-container(class="{{file.type == 'folder' ? 'folder' : ''}}")
                                    i.fa-solid.fa-file(ng-if="file.type == 'file'")
                                    i.fa-solid.fa-folder(ng-if="file.type == 'folder'")
                        td.text-left.filename(ng-if="!file.edit" ng-click="drive.check(file)")
                            div
                                a(ng-click="drive.click(file)" ng-if="file.type == 'folder'") {{file.name}}
                                a(ng-href="{{drive.api.download(file)}}" target="_blank" ng-if="file.type == 'file'") {{file.name}}
                            div
                                small.text-muted {{drive.timer(file.ctime)}}
                                small.text-muted.mr-1.ml-1 /
                                small.text-muted {{drive.filesize(file.size)}}

                        td.text-left(ng-if="file.edit" colspan=2)
                            .d-flex
                                input.form-control(ng-model="file.rename" ng-enter="drive.api.rename(file)")
                                .btn.btn-primary.btn-circle.ml-2(style="width: 36px;" ng-click="drive.api.rename(file)")
                                    i.fa-solid.fa-check

                        td.w-1.text-right.pr-2.actions(ng-if="!file.edit")
                            .dropdown
                                button.btn.btn-white.btn-sm(data-bs-toggle="dropdown" aria-expanded="false")
                                    i.fa-solid.fa-ellipsis-vertical
                                ul.dropdown-menu
                                    li
                                        a.dropdown-item(ng-click="drive.rename(file)")
                                            i.fa-solid.fa-pen-to-square
                                            span Rename
                                    li
                                        a.dropdown-item(ng-href="{{drive.api.download(file)}}" target="_blank")
                                            i.fa-solid.fa-download
                                            span Download
                                    li
                                        a.dropdown-item(ng-click="drive.api.remove(file)")
                                            i.fa-solid.fa-trash
                                            span Delete

            .drive-footer(ng-if="drive.checked.length > 0")
                .btn.btn-red.btn-block(ng-click="drive.api.remove_all()")
                    i.fa-solid.fa-trash.mr-2
                    span Delete

        .workflow(ng-if="workflow.display")
            .workflow-canvas.noselect(ng-if="!workflow.clear")
                #drawflow(ondrop="dragdrop.drop(event)" ondragover="dragdrop.allowDrop(event)")

            .workflow-position
                a.text-muted.btn-link.cursor-pointer(ng-click="workflow.init_pos()")
                    span (
                    span {{-workflow.position.x}}
                    span.mr-1.ml-1 ,
                    span {{-workflow.position.y}}
                    span )

            .workflow-zoom
                .btn-group
                    .btn.btn-primary(ng-click="workflow.drawflow.zoom_out()")
                        i.fa-solid.fa-magnifying-glass-minus
                    .btn.btn-primary(ng-click="workflow.drawflow.zoom_reset()")
                        i.fa-solid.fa-magnifying-glass
                    .btn.btn-primary(ng-click="workflow.drawflow.zoom_in()")
                        i.fa-solid.fa-magnifying-glass-plus

        .workspace-tab.app-info.if-desktop(ng-if="menubar.is('appinfo')")
            .workspace-tab-header
                .workspace-tab-header-title(ng-if="workflow.data.apps[node.selected.app_id]")
                    i.fa-solid.fa-circle-info.mr-2
                    span App Info
                .workspace-tab-header-title(ng-if="!workflow.data.apps[node.selected.app_id]")
                    i.fa-solid.fa-rocket.mr-2
                    span Workflow Info
                .ml-auto
                .text-white.close-btn(ng-click="menubar.toggle('appinfo')")
                    i.fa-solid.fa-xmark

            .workspace-tab-body(ng-if="!workflow.data.apps[node.selected.app_id]")
                .card.mb-4
                    .card-body.p-4
                        .form-group.row.mb-3(ng-if="workflow.data.id")
                            label.form-label.col-3.col-form-label Workflow ID
                            .col
                                input.form-control(type="text" ng-model="workflow.data.id" disabled="disabled")
                        
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Workflow Title
                            .col
                                input.form-control(type="text" placeholder="Workflow Title" ng-model="workflow.data.title")
                        
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Workflow Version
                            .col
                                input.form-control(type="text" placeholder="1.0.0" ng-model="workflow.data.version")

                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Visibility
                            .col
                                .form-selectgroup
                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio" name="visibility" value="private" ng-model="workflow.data.visibility")
                                        span.form-selectgroup-label
                                            i.fa-solid.fa-lock.mr-2
                                            span Private
                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio" name="visibility" value="public" ng-model="workflow.data.visibility")
                                        span.form-selectgroup-label
                                            i.fa-brands.fa-hubspot.mr-2
                                            span Public
                                
                                .mt-2
                                    span.text-muted(ng-if="workflow.data.visibility == 'private'") This workflow is for your own use only.
                                    span.text-muted(ng-if="workflow.data.visibility == 'public'") This workflow is shared with hub users.

                .card.mb-4
                    .card-header
                        h4.card-title Logo
                        .ml-auto
                        .btn.btn-outline-danger.mr-2(ng-if="workflow.data.logo" ng-click="workflow.data.logo = ''") Delete
                        .btn.btn-primary(ng-click="info.upload.logo()") Upload

                    .card-body.p-3.text-center
                        .avatar-area
                            .avatar-container
                                span.avatar(style="background-image: url({{workflow.data.logo}})" ng-cloak)

                .card.mb-4
                    .card-header
                        h4.card-title Featured Image
                        .ml-auto
                        .btn.btn-outline-danger.mr-2(ng-if="workflow.data.featured" ng-click="workflow.data.featured = ''") Delete
                        .btn.btn-primary(ng-click="info.upload.featured()") Upload
                        
                    .card-body.p-3
                        img(ng-if="workflow.data.featured" ng-src="{{workflow.data.featured}}" style="width: 100%;")
                                
                .card.mb-4
                    .card-header
                        h4.card-title Workflow Description
                        .ml-auto
                        button.btn.btn-primary(ng-click="workflow.desc_editable = !workflow.desc_editable")
                            i.fa-solid.fa-book(ng-if="workflow.desc_editable")
                            i.fa-solid.fa-edit(ng-if="!workflow.desc_editable")

                    .card-body.p-0
                        .descarea.pb-0.pt-3.pr-3.pl-3(ng-if="!workflow.desc_editable && workflow.data.description" ng-bind-html="app.showdown(workflow.data.description)")
                        div(ng-if="workflow.desc_editable" ng-model="workflow.data.description" ui-monaco-opts="options.monaco('markdown')" ui-monaco)

                .card.mb-4
                    .card-header
                        h4.card-title Delete Workflow

                    .card-body
                        .btn.btn-block.btn-outline-danger(ng-click="workflow.delete()") Delete

            .workspace-tab-body(ng-if="workflow.data.apps[node.selected.app_id]")
                .card.mb-4
                    .card-header
                        h4.card-title Information

                    .card-body.p-4
                        .form-group.row.mb-3(ng-if="workflow.data.id")
                            label.form-label.col-3.col-form-label App ID
                            .col
                                input.form-control(type="text" ng-model="workflow.data.apps[node.selected.app_id].id" disabled="disabled")
                        
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label App Title
                            .col
                                input.form-control(type="text" placeholder="App Title" ng-model="workflow.data.apps[node.selected.app_id].title")
                        
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label App Version
                            .col
                                input.form-control(type="text" placeholder="1.0.0" ng-model="workflow.data.apps[node.selected.app_id].version")

                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Download App
                            .col
                                button.btn.btn-outline-blue.btn-block(ng-click="app.download(workflow.data.apps[node.selected.app_id])") Download

                .card.mb-4
                    .card-header
                        h4.card-title Logo
                        .ml-auto
                        .btn.btn-outline-danger.mr-2(ng-if="workflow.data.apps[node.selected.app_id].logo" ng-click="workflow.data.apps[node.selected.app_id].logo = ''") Delete
                        .btn.btn-primary(ng-click="app.upload.logo()") Upload

                    .card-body.p-3.text-center
                        .avatar-area
                            .avatar-container
                                span.avatar(style="background-image: url({{workflow.data.apps[node.selected.app_id].logo}})" ng-cloak)

                .card.mb-4
                    .card-header
                        h4.card-title App Description
                        .ml-auto
                        button.btn.btn-primary(ng-click="app.desc_editable = !app.desc_editable")
                            i.fa-solid.fa-book(ng-if="app.desc_editable")
                            i.fa-solid.fa-edit(ng-if="!app.desc_editable")

                    .card-body.p-0
                        .descarea.pb-0.pt-3.pr-3.pl-3(ng-if="!app.desc_editable && workflow.data.apps[node.selected.app_id].description" ng-bind-html="app.showdown(workflow.data.apps[node.selected.app_id].description)")
                        div(ng-if="app.desc_editable" ng-model="workflow.data.apps[node.selected.app_id].description" ui-monaco-opts="options.monaco('markdown')" ui-monaco)

        .workspace-tab.codeflow.if-desktop(ng-if="menubar.is('codeflow')")
            .workspace-tab-header
                .workspace-tab-header-title
                    i.fa-solid.fa-code.mr-2
                    span Codeflow

                .ml-auto

                .text-white.close-btn.mr-3(ng-click="codeflow.toggle()")
                    i.fa-solid.fa-book-open(ng-if="!codeflow.closed")
                    i.fa-solid.fa-book(ng-if="codeflow.closed")

                .text-white.close-btn(ng-click="menubar.toggle('codeflow')")
                    i.fa-solid.fa-xmark
            
            .codeflow-body(ng-click="node.select(null, 'codeflow')" class="{{options.sorting ? 'on-sorting' : ''}}")
                .codeflow-actions(ng-if="codeflow.maximized")
                    button.btn.btn-primary.btn-round.mr-1(ng-click="$event.stopPropagation(); workflow.save()")
                        i.fa-solid.fa-save

                    button.btn.btn-primary.btn-round(ng-click="$event.stopPropagation(); codeflow.maximize(null);")
                        i.fa-solid.fa-xmark

                div(ui-sortable='options.sortable' ng-model="node.data")
                    .card(ng-repeat="item in node.data" id="codeflow-{{item.id}}" ng-click="node.select(item.id, 'codeflow')" class="{{item.id == node.selected.id ? 'codeflow-selected' : ''}} {{(node.selected.id && node.selected.id == codeflow.maximized) ? 'codeflow-focused' : ''}}")
                        .codeflow-header
                            span.badge.badge-sm.mr-1(class="{{item.inactive ? 'bg-white text-primary' : 'bg-primary text-white'}}" ng-click="node.toggle_active(item)")
                                span {{item.inactive ? 'manual' : 'auto'}}

                            input(ng-model="item.title" placeholder="{{workflow.data.apps[item.app_id].title}}")

                            .ml-auto
                            .btn.btn-sm.btn-white.sortable-handle(ng-if="node.selected == null && codeflow.closed")
                                i.fa-solid.fa-up-down-left-right
                            .btn.btn-sm.btn-white(ng-click="codeflow.maximize(item.id)" ng-if="item.id == node.selected.id")
                                i.fa-solid.fa-up-right-and-down-left-from-center
                            .btn.btn-sm.btn-white(ng-click="node.selected = null; node.data.up(item)" ng-if="item.id == node.selected.id")
                                i.fa-solid.fa-arrow-up
                            .btn.btn-sm.btn-white(ng-click="node.selected = null; node.data.down(item)" ng-if="item.id == node.selected.id")
                                i.fa-solid.fa-arrow-down
                            .btn.btn-sm.btn-primary(ng-click="node.delete(item.id)")
                                i.fa-solid.fa-xmark
                        
                        .codeflow-desc
                            table.table.card-table.table-sm(ng-if="item.id == node.selected.id")
                                thead
                                    tr
                                        th.nowrap Note
                                        th.w-1.text-right
                                            button.btn.btn-primary.btn-sm(ng-click="node.editable[item.id] = !node.editable[item.id]")
                                                i.fa-solid.fa-book(ng-if="node.editable[item.id]")
                                                i.fa-solid.fa-edit(ng-if="!node.editable[item.id]")
                        
                            .codeflow-descarea.pb-0.pt-3.pr-3.pl-3(ng-if="(item.id != node.selected.id || !node.editable[item.id]) && item.description" ng-bind-html="app.showdown(item.description)")
                            
                            .codeflow-descarea(ng-if="item.id == node.selected.id && node.editable[item.id]")
                                .item-body
                                    div(ng-model="item.description" ui-monaco-opts="options.monaco('markdown')" ui-monaco)

                        .codeflow-item
                            table.table.card-table.table-sm
                                thead
                                    tr
                                        th.w-1.nowrap
                                            span.mr-2 [{{workflow.status[item.id].index}}]
                                            span Code
                            .codeflow-codearea(ng-if="!codeflow.closed || item.id == node.selected.id")
                                .item-body
                                    div(ng-if="!node.selected || node.selected.id != codeflow.maximized" ng-model="workflow.data.apps[item.app_id].code" ui-monaco-opts="options.monaco(workflow.data.language, 'codeflow-' + item.id)" ui-monaco)
                                    div(ng-if="node.selected && node.selected.id == codeflow.maximized" ng-model="workflow.data.apps[item.app_id].code" ui-monaco-opts="options.monaco_code(workflow.data.language, 'codeflow-' + item.id)" ui-monaco)
                            
                            .text-muted.p-1(ng-if="codeflow.closed && item.id != node.selected.id") code hidden

                        .codeflow-options
                            table.table.card-table.table-sm
                                thead
                                    tr
                                        th.text-left(colspan=4) Input
                                        th.text-right
                                            button.btn.btn-primary.btn-sm(ng-click="workflow.data.apps[item.app_id].inputs.push({})")
                                                i.fa-solid.fa-plus
                                tbody(ng-if="workflow.data.apps[item.app_id].inputs.length == 0")
                                    tr
                                        td.pl-2(colspan=5)
                                            span.text-muted No input

                                tbody(ui-sortable='options.sortable' ng-model="workflow.data.apps[item.app_id].inputs")
                                    tr(ng-repeat="obj in workflow.data.apps[item.app_id].inputs")
                                        td.w-1(style="width: 120px !important;")
                                            select.form-select(ng-model="obj.type")
                                                option(value="variable") Variable
                                                option(value="output") Output

                                        td.w-1(style="width: 120px !important;")
                                            select.form-select(ng-model="obj.inputtype" ng-if="obj.type == 'variable'")
                                                option(value="text") Text
                                                option(value="textarea") Textarea
                                                option(value="password") Password
                                                option(value="number") Number
                                                option(value="file") File
                                                option(value="folder") Folder
                                                option(value="date") Date
                                                option(value="list") List
                                        td.w-1
                                            input.form-control(style="width: 160px;" placeholder="Input Name" ng-model="obj.name")
                                        td
                                            textarea.form-control(placeholder="{{ obj.inputtype == 'list' ? 'samsung: 005930,\nkakao: 035720' : 'Description'}}" ng-model="obj.description")
                                        td.w-1.nowrap
                                            button.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;" ng-click="workflow.data.apps[item.app_id].inputs.remove(obj)")
                                                i.fa-solid.fa-xmark
                                            .draggable.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;")
                                                i.fa-solid.fa-up-down-left-right
                        
                        .codeflow-options
                            table.table.card-table.table-sm
                                thead
                                    tr
                                        th.w-1.nowrap(colspan=2) Output 
                                        th.w-1.nowrap.text-right
                                            button.btn.btn-primary.btn-sm(ng-click="workflow.data.apps[item.app_id].outputs.push({})")
                                                i.fa-solid.fa-plus

                                tbody(ng-if="workflow.data.apps[item.app_id].outputs.length == 0")
                                    tr
                                        td.pl-2(colspan=5)
                                            span.text-muted No Output

                                tbody(ui-sortable ng-model="workflow.data.apps[item.app_id].outputs")
                                    tr(ng-repeat="obj in workflow.data.apps[item.app_id].outputs")
                                        td.w-1
                                            input.form-control(style="width: 160px;" placeholder="Output Name" ng-model="obj.name")
                                        td
                                            textarea.form-control(placeholder="Description" ng-model="obj.description")
                                        td.w-1.nowrap
                                            button.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;" ng-click="workflow.data.apps[item.app_id].outputs.remove(obj)")
                                                i.fa-solid.fa-xmark
                                            .draggable.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;")
                                                i.fa-solid.fa-up-down-left-right

                .btn.btn-primary.btn-block(ng-click="workflow.add()")
                    i.fa-solid.fa-plus

                .margin-area(style="height: 80vh;")
            
        .workspace-tab.uimode-editor.if-desktop(ng-if="uimode.activetab.length > 0 && !uimode.maximized" ui-sortable='uimode.sortable' ng-model="uimode.activetab")
            .ui-editor(ng-repeat="name in uimode.activetab" ng-if="uimode.tab[name].active")
                .uimode-codeselect
                    a {{uimode.tab[name].name}}
                    .ml-auto
                    a(ng-click="uimode.tab[name].close()")
                        i.fa-solid.fa-xmark
                
                .uimode-code.p-0
                    div(ng-if="uimode.tab[name].lang && uimode.loaded" ng-model="workflow.data.apps[node.selected.app_id][uimode.tab[name].mode]" ui-monaco-opts="options.monaco_code(uimode.tab[name].lang)" ui-monaco)

        .workspace-tab.uimode(ng-if="menubar.is('uimode')" class="{{uimode.maximized ? 'maximized': ''}}")
            .workspace-tab-header
                .workspace-tab-header-title
                    i.fa-solid.fa-display.mr-2
                    span {{workflow.data.apps[node.selected.app_id].title}}
                .ml-auto
                .dropdown.mr-3.if-desktop
                    button.btn.btn-white.btn-sm.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                        span Code
                    
                    ul.dropdown-menu.dropdown-menu-dark
                        li(ng-repeat="(name, tab) in uimode.tab" ng-if="!tab.active")
                            a.dropdown-item(ng-click="tab.open()") {{uimode.tab[name].name}}
                
                .text-white.close-btn.mr-3.if-desktop(ng-click="uimode.maximize(!uimode.maximized)")
                    i.fa-solid.fa-up-right-and-down-left-from-center(ng-if="!uimode.maximized")
                    i.fa-solid.fa-down-left-and-up-right-to-center(ng-if="uimode.maximized")

                .text-white.close-btn.mr-3(ng-click="uimode.render()")
                    i.fa-solid.fa-refresh

                .text-white.close-btn(ng-click="menubar.toggle('uimode')")
                    i.fa-solid.fa-xmark
            
            .workspace-tab-body.p-0(ng-if="workflow.data.apps[node.selected.app_id].pug && !kernel.is('running')")
                iframe#uimode-iframe(ng-if="uimode.iframe" ng-show="uimode.iframe_loaded")
                div(ng-if="!uimode.iframe_loaded" style="width: 100%; height: 100%;")
                    table(style="width: 100%; height: 100%;")
                        tr
                            td.text-center(style="height: 100%; vertical-align: middle;")
                                .spinner-border.text-blue
            
            .workspace-tab-body.p-6.text-center(ng-if="!workflow.data.apps[node.selected.app_id].pug || kernel.is('running')")
                h2(ng-if="!kernel.is('running')") Not support UI
                h2(ng-if="kernel.is('running')") UI is not available while the kernel is running
                
        .workspace-tab.cron-view.if-desktop(ng-if="menubar.is('cron')")
            .workspace-tab-header
                .workspace-tab-header-title
                    i.fa-solid.fa-stopwatch.mr-2
                    span Timer
                .ml-auto
                .text-white.close-btn(ng-click="menubar.toggle('cron')")
                    i.fa-solid.fa-xmark
            
            .workspace-tab-body
                .card
                    .card-header.p-2
                        input.form-control(placeholder="0 5 * * *" ng-model="cron.query.time" style="width: 160px;")
                        .mr-2
                        select.form-select(ng-model="cron.query.spec" style="width: 140px;")
                            option(ng-repeat="spec in kernel.specs" value="{{spec.name}}") {{spec.title}}
                        .mr-2
                        input.form-control(placeholder="comment" ng-model="cron.query.comment")
                        .mr-2
                        button.btn.btn-primary(ng-click="cron.add()")
                            i.fa-solid.fa-plus

                    .card-body.pb-2.pt-2
                        span.text-muted Timer use system cron. set time and comment for regist timer.

                    .card-table.table-responsive
                        table.table.table-hover.table-vcenter.mb-0
                            tr(ng-repeat="item in cron.list")
                                th.w-1.nowrap {{item.time}}
                                td.text-muted {{item.comment}}
                                td.w-1.nowrap
                                    button.btn.btn-red.btn-sm(ng-click="cron.remove(item.comment)")
                                        i.fa-solid.fa-trash

                    .card-body.p-1

        .workspace-tab.shortcut-view.if-desktop(ng-if="menubar.is('shortcut')")
            .workspace-tab-header
                .workspace-tab-header-title
                    i.fa-solid.fa-keyboard.mr-2
                    span Shortcut
                .ml-auto
                .text-white.close-btn(ng-click="menubar.toggle('shortcut')")
                    i.fa-solid.fa-xmark
            
            .workspace-tab-body
                .card
                    table.table.table-hover.table-bordered.table-shortcut.mb-0
                        tr(ng-repeat="item in shortcut.list")
                            th.w-1.nowrap
                                .mb-2(ng-repeat="hotkey in item.key.split(',')")
                                    .text(style="display: inline-block;" ng-repeat="key in hotkey.split('+') track by $index")
                                        small.p-1.bg-primary(ng-if="!['Ctrl', 'ArrowRight', 'ArrowLeft'].includes(key)") {{key.replace('Digit', '').replace('Key', '').toLowerCase()}}
                                        small.p-1.bg-primary(ng-if="'Ctrl' == key") {{ismac ? 'cmd' : 'ctrl'}}
                                        small.p-1.bg-primary(ng-if="'ArrowRight' == key")
                                            i.fa-solid.fa-arrow-right
                                        small.p-1.bg-primary(ng-if="'ArrowLeft' == key")
                                            i.fa-solid.fa-arrow-left
                                        small.text-muted(style="margin: 0 2px; font-size: 12px;" ng-if="$index + 1 != hotkey.split('+').length") + 

                            td {{item.desc}}

        .menu-area.if-desktop
            .d-block
                .btn(ng-click="menubar.toggle('appinfo')" class="{{menubar.btn_class('appinfo')}}")
                    i.fa-solid.fa-info

            .d-block
                .btn(ng-click="menubar.toggle('codeflow')" class="{{menubar.btn_class('codeflow')}}")
                    i.fa-solid.fa-code
            
            .d-block
                .btn(ng-click="cron.toggle()" class="{{menubar.btn_class('cron')}}")
                    i.fa-solid.fa-stopwatch
                        
            .d-block(ng-if="node.selected")
                .btn(ng-click="menubar.toggle('uimode')" class="{{menubar.btn_class('uimode')}}")
                    i.fa-solid.fa-display

            .d-block
                .btn(ng-click="drive.toggle()" class="{{leftmenu.btn_class('drive')}}")
                    i.fa-solid.fa-folder-tree
                    
            .mt-auto

            .d-block
                .btn.btn-white(ng-click="menubar.toggle('shortcut')" class="{{menubar.btn_class('shortcut')}}")
                    i.fa-solid.fa-keyboard
    
    #drive-modal.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header.bg-blue(style="min-height: 42px;")
                    h3.modal-title {{node.drive.variable_name}}
                
                .modal-body.p-0.bg-white
                    .list-back
                        table.table.table-sm.table-vcenter.mb-0
                            tr
                                td.text-muted.bg-dark-lt(style="padding: 4px 12px;")
                                    small {{drive.current? drive.current + '/' : '/'}}
                                    small(ng-if="node.drive.checked && node.drive.mode == 'folder'") {{node.drive.checked}}

                    .list-back(ng-if="drive.current != ''")
                        table.table.table-sm.table-hover.table-vcenter.mb-0
                            tr
                                td.text-left.cursor-pointer.bg-primary-lt(ng-click="node.drive.cd('..')")
                                    svg.icon.mr-2(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round")
                                        path(stroke="none" d="M0 0h24v24H0z" fill="none")
                                        path(d="M18 18h-6a3 3 0 0 1 -3 -3v-10l-4 4m8 0l-4 -4")
                                    span ...

                    div(style="max-height: 50vh; overflow-y: auto;")
                        table.table.table-sm.table-hover.table-vcenter.mb-0
                            tr(ng-repeat="file in drive.files" ng-if="file.name[0] != '.'" class="{{file.name == node.drive.checked ? 'bg-blue-lt' : ''}}")
                                td.w-1.pr-0(ng-click="node.drive.check(file)")
                                    .avatar-area.avatar-area-sm
                                        .avatar-container(class="{{file.type == 'folder' ? 'folder' : ''}}")
                                            i.fa-solid.fa-file(ng-if="file.type == 'file'")
                                            i.fa-solid.fa-folder(ng-if="file.type == 'folder'")
                                
                                td.text-left.filename(ng-click="node.drive.check(file)")
                                    div
                                        a(ng-click="node.drive.click(file)" ng-if="file.type == 'folder'") {{file.name}}
                                        a(ng-click="node.drive.check(file)" ng-if="file.type == 'file'") {{file.name}}
                                    div
                                        small.text-muted {{drive.timer(file.ctime)}}
                                        small.text-muted.mr-1.ml-1 /
                                        small.text-muted {{drive.filesize(file.size)}}

                .modal-footer.p-1.bg-white(ng-if="node.drive.mode == 'file'")
                    input.form-control(type="text" ng-model="node.drive.checked")

                .modal-footer.p-1
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-bs-dismiss="modal") Cancel
                    button.btn.btn-primary(type='button' ng-click="node.drive.select()" ng-if="node.drive.checked") Select

    .d-none
        div(ng-if="node.selected")
            style.
                .drawflow-node {
                    opacity: 0.3;
                }

                .{{node.selected.id}} {
                    opacity: 1;
                }

                .workspace-tab.codeflow .card {
                    opacity: 0.6;
                }

                .workspace-tab.codeflow .card.codeflow-selected {
                    opacity: 1;
                }

        div(ng-if="app.hover")
            style.
                .drawflow-node {
                    opacity: 0.3;
                }

                .drawflow-node.{{app.hover}} {
                    opacity: 1;
                }

        div(ng-repeat="(key, value) in workflow.status")
            div(ng-if="value.status == 'error'")
                style.
                    .{{value.flow_id}} {
                        border: none !important;
                        box-shadow: 0 2px 20px 2px var(--wiz-color-red) !important;
                    }

            div(ng-if="value.status == 'pending'")
                style.
                    .{{value.flow_id}} .pending-indicator {
                        display: block !important;
                    }

                    .{{value.flow_id}} .action-btn-play {
                        display: none !important;
                    }

                    .{{value.flow_id}} .action-btn-stop {
                        display: block !important;
                    }
                    

            div(ng-if="value.status == 'finish'")
                style.
                    .flow-{{value.flow_id}} .finish-indicator {
                        display: block !important;
                        padding-top: 9px;
                        text-align: center;
                        font-size: 12px;
                        background: rgba(47,179,68,.1);
                        color: #2fb344;
                        font-weight: 1000;
                    }

            div(ng-if="value.status == 'running'")
                style.
                    :root {
                        --animate-duration: 1s;
                        --animate-delay: 1s;
                        --animate-repeat: 1;
                    }

                    @keyframes heartBeat {
                        0% {
                            -webkit-transform: scale(1);
                            transform: scale(1);
                        }

                        25% {
                            -webkit-transform: scale(1.02);
                            transform: scale(1.02);
                        }

                        50% {
                            -webkit-transform: scale(1);
                            transform: scale(1);
                        }

                        75% {
                            -webkit-transform: scale(1.02);
                            transform: scale(1.02);
                        }

                        100% {
                            -webkit-transform: scale(1);
                            transform: scale(1);
                        }
                    }

                    .flow-{{value.flow_id}} .action-btn-play {
                        display: none !important;
                    }

                    .flow-{{value.flow_id}} .action-btn-stop {
                        display: block !important;
                    }

                    .flow-{{value.flow_id}} .progress {
                        display: flex !important;
                    }

        div(ng-if="workflow.active_flow_id")
            style.
                .{{workflow.active_flow_id}} {
                    background: white;
                    border: 1px solid #4ea9ff;
                    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff !important;
                    box-shadow: 0 2px 20px 2px #4ea9ff;
                }
