.workspace.area-round(ng-cloak)
    .workspace-header
        .page-header.d-print-none
            .row.align-items-center
                .col-auto
                    span.status-indicator.status-indicator-animated(class="{{kernel.status_class()}}")
                        span.status-indicator-circle
                        span.status-indicator-circle
                        span.status-indicator-circle
                .col
                    h2.page-title
                        small.text-muted.mr-2 Workflow:
                        span {{workflow.data.title}}

                .col-auto.actions
                    .dropdown(ng-if="kernel.is('stop')")
                        button.btn.btn-white.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                            span(style="width: 120px; overflow: hidden;" ng-if="!kernel.spec") Select kernel
                            span(style="width: 120px; overflow: hidden;" ng-if="kernel.spec") {{kernel.spec}}
                        
                        ul.dropdown-menu
                            li(ng-repeat="spec in kernel.specs")
                                a.dropdown-item(ng-click="kernel.select(spec)") {{spec}}
                    
                    .btn.btn-primary(ng-click="kernel.start()" ng-if="kernel.is('stop')")
                        i.fa-solid.fa-play.mr-2
                        span Start Kernel

                    .btn.btn-white(ng-if="!kernel.is('stop')" style="width: 120px; overflow: hidden;") {{kernel.spec}}

                    .btn.btn-primary(ng-click="kernel.kill()" ng-if="!kernel.is('stop')")
                        i.fa-solid.fa-stop.mr-2
                        span Stop Kernel

                    .btn.btn-primary(ng-click="workflow.save()")
                        i.fa-solid.fa-save

                    .btn.btn-primary
                        i.fa-solid.fa-cloud-arrow-down

                    a.btn.btn-primary.btn-circle(href="/hub/workflow/list")
                        i.fa-solid.fa-xmark

    .workspace-body
        .app
            .app-search
                input.form-control.search-form(placeholder="enter for search" ng-model="app.query" ng-change="app.search(app.query)")

            .app-list
                .no-items.text-center.p-6(ng-if="app.data.length == 0")
                    i.fa-solid.fa-cube
                    .mt-2 No Apps

                .app-info(ng-repeat="item in app.data" ng-if="!app.ishide[item.id]" draggable="true" ondragstart="dragdrop.drag(event)" data-node="{{item.id}}")
                    .avatar-area.avatar-area-sm.mr-3
                        .avatar-container
                            span.avatar(style="background-image: {{ item.logo ? 'url(' + item.logo + ')' : '#fff' }}" ng-cloak)
                    .title-area
                        .app-header.mb-1.pb-1 {{item.title}}
                        .app-namespace.text-muted {{item.version}}
                    .ml-auto
                        button.btn.btn-white.btn-sm.mr-1(ng-click="app.delete(item.id)")
                            i.fa-solid.fa-xmark
                        button.btn.btn-primary.btn-sm(ng-click="workflow.add(item.id)")
                            i.fa-solid.fa-plus

        .workflow
            .workflow-canvas.noselect(ng-if="!workflow.clear")
                #drawflow(ondrop="dragdrop.drop(event)" ondragover="dragdrop.allowDrop(event)")

            .workflow-zoom
                .btn-group
                    .btn.btn-primary(ng-click="workflow.drawflow.zoom_out()")
                        i.fa-solid.fa-magnifying-glass-minus
                    .btn.btn-primary(ng-click="workflow.drawflow.zoom_reset()")
                        i.fa-solid.fa-magnifying-glass
                    .btn.btn-primary(ng-click="workflow.drawflow.zoom_in()")
                        i.fa-solid.fa-magnifying-glass-plus
        
        .workspace-tab.wp-info(ng-if="menubar.is('info')")
            .workspace-tab-header
                .workspace-tab-header-title
                    i.fa-solid.fa-info-circle.mr-2
                    span Workflow Info
                .ml-auto
                .text-white.close-btn(ng-click="menubar.toggle('info')")
                    i.fa-solid.fa-xmark
            
            .workspace-tab-body
                .card.mb-4
                    .card-header
                        h4.card-title Information

                    .card-body.p-4
                        .form-group.row.mb-3(ng-if="workflow.data.id")
                            label.form-label.col-3.col-form-label App ID
                            .col
                                input.form-control(type="text" ng-model="workflow.data.id" disabled="disabled")
                        
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Workflow Title
                            .col
                                input.form-control(type="text" placeholder="Workflow Title" ng-model="workflow.data.title")
                        
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Workflow Version
                            .col
                                input.form-control(type="text" placeholder="1.0.0" ng-model="workflow.data.version")

                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Visibility
                            .col
                                .form-selectgroup
                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio" name="visibility" value="private" ng-model="workflow.data.visibility")
                                        span.form-selectgroup-label
                                            i.fa-solid.fa-lock.mr-2
                                            span Private
                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio" name="visibility" value="public" ng-model="workflow.data.visibility")
                                        span.form-selectgroup-label
                                            i.fa-brands.fa-hubspot.mr-2
                                            span Public
                                
                                .mt-2
                                    span.text-muted(ng-if="workflow.data.visibility == 'private'") This workflow is for your own use only.
                                    span.text-muted(ng-if="workflow.data.visibility == 'public'") This workflow is shared with hub users.

                .card.mb-4
                    .card-header
                        h4.card-title Logo
                        .ml-auto
                        .btn.btn-outline-danger.mr-2(ng-if="workflow.data.logo" ng-click="workflow.data.logo = ''") Delete
                        .btn.btn-primary(ng-click="info.upload.logo()") Upload

                    .card-body.p-3.text-center
                        .avatar-area
                            .avatar-container
                                span.avatar(style="background-image: url({{workflow.data.logo}})" ng-cloak)

                .card.mb-4
                    .card-header
                        h4.card-title Featured Image
                        .ml-auto
                        .btn.btn-outline-danger.mr-2(ng-if="workflow.data.featured" ng-click="workflow.data.featured = ''") Delete
                        .btn.btn-primary(ng-click="info.upload.featured()") Upload
                        
                    .card-body.p-3
                        img(ng-if="workflow.data.featured" ng-src="{{workflow.data.featured}}" style="width: 100%;")
                                
                .card.mb-4
                    .card-header
                        h4.card-title Workflow Description
                        .ml-auto
                        button.btn.btn-primary(ng-click="workflow.desc_editable = !workflow.desc_editable")
                            i.fa-solid.fa-book(ng-if="workflow.desc_editable")
                            i.fa-solid.fa-edit(ng-if="!workflow.desc_editable")

                    .card-body.p-0
                        .descarea.pb-0.pt-3.pr-3.pl-3(ng-if="!workflow.desc_editable && workflow.data.description" ng-bind-html="app.showdown(workflow.data.description)")
                        div(ng-if="workflow.desc_editable" ng-model="workflow.data.description" ui-monaco-opts="options.monaco('markdown')" ui-monaco)

                .card.mb-4
                    .card-header
                        h4.card-title Delete Workflow

                    .card-body
                        .btn.btn-block.btn-outline-danger(ng-click="workflow.delete()") Delete

        .workspace-tab.codeflow(ng-if="menubar.is('codeflow')")
            .workspace-tab-header
                .workspace-tab-header-title
                    i.fa-solid.fa-code.mr-2
                    span Codeflow
                .ml-auto
                .text-white.close-btn(ng-click="menubar.toggle('codeflow')")
                    i.fa-solid.fa-xmark
            
            .codeflow-body(ng-click="node.select(null, 'codeflow')")
                .card(ng-repeat="item in node.data" id="codeflow-{{item.id}}" ng-click="node.select(item.id, 'codeflow')" class="{{item.id == node.selected.id ? 'codeflow-selected' : ''}}")
                    .codeflow-header
                        span.badge.badge-sm.mr-1(class="{{item.inactive ? 'bg-white text-primary' : 'bg-primary text-white'}}" ng-click="item.inactive = !item.inactive")
                            span {{item.inactive ? 'manual' : 'auto'}}
                        input(ng-model="workflow.data.apps[item.app_id].title" placeholder="app title here")
                        .ml-auto
                        .btn.btn-sm.btn-white(ng-click="node.maximize(item.id)" ng-if="item.id == node.selected.id")
                            i.fa-solid.fa-up-right-and-down-left-from-center
                        .btn.btn-sm.btn-white(ng-click="node.selected = null; node.data.up(item)" ng-if="item.id == node.selected.id")
                            i.fa-solid.fa-arrow-up
                        .btn.btn-sm.btn-white(ng-click="node.selected = null; node.data.down(item)" ng-if="item.id == node.selected.id")
                            i.fa-solid.fa-arrow-down
                        .btn.btn-sm.btn-primary(ng-click="node.delete(item.id)")
                            i.fa-solid.fa-xmark

                    .codeflow-desc
                        table.table.card-table.table-sm(ng-if="item.id == node.selected.id")
                            thead
                                tr
                                    th.nowrap README
                                    th.w-1.text-right
                                        button.btn.btn-primary.btn-sm(ng-click="node.editable[item.id] = !node.editable[item.id]")
                                            i.fa-solid.fa-book(ng-if="node.editable[item.id]")
                                            i.fa-solid.fa-edit(ng-if="!node.editable[item.id]")
                    
                        .codeflow-descarea.pb-0.pt-3.pr-3.pl-3(ng-if="(item.id != node.selected.id || !node.editable[item.id]) && item.description" ng-bind-html="app.showdown(item.description)")
                        
                        .codeflow-descarea(ng-if="item.id == node.selected.id && node.editable[item.id]")
                            .item-body
                                div(ng-model="item.description" ui-monaco-opts="app.markdown" ui-monaco)

                    .codeflow-item
                        table.table.card-table.table-sm
                            thead
                                tr
                                    th.w-1.nowrap Code
                        .codeflow-codearea
                            .item-index [{{workflow.status[item.id].index}}]
                            .item-body
                                div(ng-model="workflow.data.apps[item.app_id].code" ui-monaco-opts="app.monaco_opt" ui-monaco)

                    .codeflow-options
                        table.table.card-table.table-sm
                            thead
                                tr
                                    th.text-left(colspan=4) Input
                                    th.text-right
                                        button.btn.btn-primary.btn-sm(ng-click="workflow.data.apps[item.app_id].inputs.push({})")
                                            i.fa-solid.fa-plus
                            tbody(ng-if="workflow.data.apps[item.app_id].inputs.length == 0")
                                tr
                                    td.pl-2(colspan=5)
                                        span.text-muted No input

                            tbody(ui-sortable='options.sortable' ng-model="workflow.data.apps[item.app_id].inputs")
                                tr(ng-repeat="obj in workflow.data.apps[item.app_id].inputs")
                                    td.w-1(style="width: 120px !important;")
                                        select.form-select(ng-model="obj.type")
                                            option(value="variable") Variable
                                            option(value="output") Output

                                    td.w-1(style="width: 120px !important;")
                                        select.form-select(ng-model="obj.inputtype" ng-if="obj.type == 'variable'")
                                            option(value="text") Text
                                            option(value="password") Password
                                            option(value="number") Number
                                            option(value="date") Date
                                            option(value="list") List
                                            option(value="memo") Memo
                                    td.w-1
                                        input.form-control(style="width: 160px;" placeholder="Input Name" ng-model="obj.name")
                                    td
                                        textarea.form-control(placeholder="{{ obj.inputtype == 'list' ? 'samsung: 005930,\nkakao: 035720' : 'Description'}}" ng-model="obj.description")
                                    td.w-1.nowrap
                                        button.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;" ng-click="workflow.data.apps[item.app_id].inputs.remove(obj)")
                                            i.fa-solid.fa-xmark
                                        .draggable.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;")
                                            i.fa-solid.fa-up-down-left-right
                    
                    .codeflow-options
                        table.table.card-table.table-sm
                            thead
                                tr
                                    th.w-1.nowrap(colspan=2) Output 
                                    th.w-1.nowrap.text-right
                                        button.btn.btn-primary.btn-sm(ng-click="workflow.data.apps[item.app_id].outputs.push({})")
                                            i.fa-solid.fa-plus

                            tbody(ng-if="workflow.data.apps[item.app_id].outputs.length == 0")
                                tr
                                    td.pl-2(colspan=5)
                                        span.text-muted No Output

                            tbody(ui-sortable='options.sortable' ng-model="workflow.data.apps[item.app_id].outputs")
                                tr(ng-repeat="obj in workflow.data.apps[item.app_id].outputs")
                                    td.w-1
                                        input.form-control(style="width: 160px;" placeholder="Output Name" ng-model="obj.name")
                                    td
                                        textarea.form-control(placeholder="Description" ng-model="obj.description")
                                    td.w-1.nowrap
                                        button.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;" ng-click="workflow.data.apps[item.app_id].outputs.remove(obj)")
                                            i.fa-solid.fa-xmark
                                        .draggable.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;")
                                            i.fa-solid.fa-up-down-left-right

                .btn.btn-primary.btn-block(ng-click="workflow.add()")
                    i.fa-solid.fa-plus

                .margin-area(style="height: 80vh;")
            
        .workspace-tab.uimode(ng-if="menubar.is('uimode')")
            .workspace-tab-header
                .workspace-tab-header-title
                    i.fa-solid.fa-display.mr-2
                    span UI Mode
                .ml-auto
                .text-white.close-btn(ng-click="menubar.toggle('uimode')")
                    i.fa-solid.fa-xmark
            
            .workspace-tab-body

        .menu-area
            .d-block
                .btn(ng-click="menubar.toggle('info')" class="{{menubar.btn_class('info')}}")
                    i.fa-solid.fa-info

            .d-block
                .btn(ng-click="menubar.toggle('codeflow')" class="{{menubar.btn_class('codeflow')}}")
                    i.fa-solid.fa-code
            
            .d-block
                .btn(ng-click="menubar.toggle('uimode')" class="{{menubar.btn_class('uimode')}}")
                    i.fa-solid.fa-display
            
            .d-block
                .btn(ng-click="menubar.toggle('storage')" class="{{menubar.btn_class('storage')}}")
                    i.fa-solid.fa-folder-tree

            .mt-auto

            .d-block
                .btn.btn-white(ng-click="menubar.toggle('shortcut')" class="{{menubar.btn_class('shortcut')}}")
                    i.fa-solid.fa-keyboard
        
    div(ng-if="node.selected")
        style.
            .drawflow-node {
                opacity: 0.4;
            }

            .{{node.selected.id}} {
                opacity: 1;
                background: white;
                -webkit-box-shadow: 0 2px 8px 2px #4ea9ff !important;
                box-shadow: 0 2px 8px 2px #4ea9ff;
            }

    div(ng-repeat="(key, value) in workflow.status")
        div(ng-if="value.status == 'error'")
            style.
                .{{value.flow_id}} {
                    box-shadow: 0 2px 20px 2px #d63939 !important;
                }

        div(ng-if="value.status == 'pending'")
            style.
                .{{value.flow_id}} .pending-indicator {
                    display: block !important;
                }

                .{{value.flow_id}} .action-btn-play {
                    display: none;
                }

                .{{value.flow_id}} .action-btn-stop {
                    display: block !important;
                }
                

        div(ng-if="value.status == 'finish'")
            style.
                .flow-{{value.flow_id}} .finish-indicator {
                    display: block !important;
                    padding-top: 9px;
                    text-align: center;
                    font-size: 12px;
                    background: rgba(47,179,68,.1);
                    color: #2fb344;
                    font-weight: 1000;
                }

        div(ng-if="value.status == 'running'")
            style.
                :root {
                    --animate-duration: 1s;
                    --animate-delay: 1s;
                    --animate-repeat: 1;
                }

                @keyframes heartBeat {
                    0% {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }

                    25% {
                        -webkit-transform: scale(1.02);
                        transform: scale(1.02);
                    }

                    50% {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }

                    75% {
                        -webkit-transform: scale(1.02);
                        transform: scale(1.02);
                    }

                    100% {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }

                .flow-{{value.flow_id}} {
                    box-shadow: 0 2px 20px 2px #4ea9ff !important;
                }

                .flow-{{value.flow_id}} .action-btn-play {
                    display: none;
                }

                .flow-{{value.flow_id}} .action-btn-stop {
                    display: block !important;
                }

                .flow-{{value.flow_id}} .progress {
                    display: flex !important;
                }

    div(ng-if="workflow.active_flow_id")
        style.
            .{{workflow.active_flow_id}} {
                    background: white;
                    border: 1px solid #4ea9ff;
                    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff !important;
                    box-shadow: 0 2px 20px 2px #4ea9ff;
            }
