& {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.workspace-kernel-selector {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    background-color: rgba(0,0,0,.7);
    width: 100vw;
    height: 100vh;

    .kernel-select-box {
        background-color: #fff;
        padding: 32px;
        margin: 0 auto;
        border-radius: 24px;
    }
}

.workspace-header {
    padding: 6px 24px;
    height: 54px;
    border: none;
    display: flex;
    align-items: center;
    background-color: var(--wiz-color-blue);
    color: #fff;

    .page-header {
        width: 100%;
    }

    .btn-white {
        color: var(--wiz-color-blue);
    }

    .actions {
        > * {
            margin-left: 8px;
            display: inline-block;
        }

        .btn {
            min-width: 52px;
        }
    }

    @media (max-width: 768px) { 
        padding: 6px 12px;
    }
}

.workspace-body {
    width: 100%;
    height: calc(100% - 54px);
    overflow: hidden;
    display: flex;
    align-items: center;

    .workflow-action {
        position: absolute;
        bottom: 12px;
        right: 60px;
        z-index: 2000;
    }

    .workflow {
        position: relative;
        flex: 1;
        height: 100%;

        .workflow-zoom {
            position: absolute;
            top: 12px;
            right: 12px;
        }

        .workflow-position {
            position: absolute;
            bottom: 12px;
            right: 12px;
        }

        .workflow-canvas {
            width: 100%;
            height: 100%;
        }
    }

    .menu-area {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: 42px;
        border-left: 1px solid var(--wiz-color-border);

        .btn {
            padding: 8px 12px;
            display: block;
            border: none;
            border-radius: 0;
        }
    }

    .workspace-tab {
        height: 100%;
        width: 100%;
        max-width: 720px;
        flex: 1;
        border-left: 1px solid var(--wiz-color-border);
        background: var(--wiz-color-background-lt);

        .workspace-tab-header {
            display: flex;
            background: var(--wiz-color-blue);
            padding: 4px 12px;
            height: 40px;
            align-items: center;

            .workspace-tab-header-title {
                color: white;
                font-family: 'wiz-eb';
                font-size: 16px;
            }

            .close-btn {
                font-size: 16px;
                cursor: pointer;
            }
        }

        .workspace-tab-body {
            padding: 16px;
            height: calc(100% - 40px);
            overflow: auto;

            .card {
                border-radius: 12px;
            }
        }
    }

    .drive-area {
        border-right: 1px solid var(--wiz-color-border);
        border-left: none;
        max-width: 360px;
        display: flex;
        flex-direction: column;

        .drive-footer {
            height: 32px;

            .btn {
                border-radius: 0;
            }
        }

        .list-back {
            height: auto;
        }

        .workspace-tab-body {
            flex: auto;
            height: 100%;
            background-color: white;
        }

        .w-1 {
            width: 8px;
            white-space: nowrap;
            text-align: center;
        }

        .filename {
            word-break: break-all;
        }

        th {
            text-align: center;
        }

        tr {
            .d-flex {
                .form-control {
                    border-radius: 36px;
                }
            }
            
            .actions {
                font-size: 24px;
                
                .dropdown {
                    display: inline-block;
                    
                    ul {
                        display: none;

                        i {
                            width: 20px;
                            margin-right: 4px;
                        }
                    }
                }

                .dropdown, .btn {
                    opacity: 0;
                    min-width: 48px;
                    margin: 0;
                }
            }

            &:hover {
                .dropdown {
                    display: inline-block;

                    ul.show {
                        display: block;
                    }
                }
                
                .dropdown, .btn {
                    opacity: 1;
                }
            }
        }

        th, td {
            padding: 8px 12px;
            cursor: initial;

            .icon-box {
                display: inline-block;
            }

            a {
                color: #2F374E;
                cursor: pointer;
            }
            
            .avatar-container {
                display: flex;
                align-items: center;
                height: 32px;
                width: 32px;
                border-radius: 4px;
                text-align: center;
                vertical-align: middle;
                background-color: var(--wiz-color-border);
                color: #666;

                &.folder {
                    background-color: #92CEFF;
                    color: #51ACF6;
                }

                i {
                    width: 32px;
                    text-align: center;
                }
            }
        }
    }

    .uimode {
        &.maximized {
            max-width: 100%;
        }

        .workspace-tab-body {
            overflow: hidden;
        }
        
        .spinner-border {
            width: 48px;
            height: 48px;
            border: 6px solid currentColor;
            border-right-color: transparent;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .uimode-editor {
        display: flex;
        flex: 1;
        max-width: 100%;
        border-left: none;

        .ui-editor {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-left: 1px solid var(--wiz-color-border);

            &:first-child {
                border-left: none;
            }
        }

        .uimode-code {
            width: 100%;
            flex: auto;
            height: 1px;
        }

        .uimode-codeselect {
            display: flex;
            background-color: var(--wiz-color-blue);
            color: white;
            height: 40px;
            align-items: center;
            padding: 0 8px;
            cursor: grab;

            a {
                padding: 0 8px;
                cursor: pointer;
                color: white;

                &.active {
                    background-color: white;
                    color: var(--wiz-color-blue);
                }

                i {
                    font-size: 16px;
                }
            }
        }
    }

    .codeflow {
        .status-indicator-circle {
            --tblr-status-circle-size: 8px !important;
        }

        .codeflow-body {
            padding: 16px;
            height: calc(100% - 40px);
            overflow: auto;

            .card {
                margin-bottom: 24px;

                .w-96 {
                    width: 96px;
                }

                .table {
                    th {
                        padding: 4px;
                        .btn {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    td {
                        padding: 0;

                        .form-selectgroup-item {
                            display: inline-block !important;
                            padding-top: 6px;

                            .form-selectgroup-label {
                                padding: 3px 12px !important;
                                font-size: 12px;
                            }
                        }

                        .form-select {
                            border: none !important;
                            box-shadow: none !important;
                            text-align: left;
                        }

                        .form-control {
                            border: none !important;
                            background: transparent !important;
                            text-align: left;
                            min-height: 32px;

                            &:focus {
                                outline: none !important;
                                box-shadow: none !important;
                            }
                        }
                    }
                }

                .codeflow-header {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    background: var(--wiz-color-blue-lt);
                    height: 22px;
                    border-bottom: 1px solid var(--wiz-color-border);

                    input {
                        background: transparent;
                        border: none;
                        box-shadow: none;
                        flex: auto;
                        margin-right: 4px;
                    }
                    
                    .badge {
                        height: 21px;
                        border-radius: 0;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }

                    .btn {
                        font-size: 14px;
                        border-radius: 0;
                    }

                    .cursor-grab {
                        cursor: grab !important;
                    }
                }

                .codeflow-desc {
                    background: var(--wiz-color-background-lt);
                }

                .codeflow-options {
                    display: none;
                }
                
                .codeflow-item {
                    border-top: 1px solid var(--wiz-color-border);

                    .table.card-table.table-sm {
                        display: none;
                    }

                    .codeflow-codearea {
                        display: flex;

                        .item-body {
                            width: 100%;
                            flex: auto;
                            min-height: 105px;
                        }
                    }
                }
            }

            .codeflow-actions {
                position: fixed;
                top: 16px;
                right: 16px;
                z-index: 1001;

                .btn {
                    border-radius: 100%;
                    width: 48px;
                    height: 48px;
                    font-size: 20px;
                }
            }

            .codeflow-focused {
                .codeflow-codearea {
                    position: fixed;
                    top: 0;
                    left: 0;
                    background: #fff;
                    z-index: 1000;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
            }

            .codeflow-selected {
                .codeflow-header {
                    background: var(--wiz-color-blue);

                    input {
                        color: #fff;   
                    }

                    ::placeholder {
                        color: rgba(255,255,255,.5) !important;
                    }
                }

                .codeflow-options {
                    display: block !important;
                }

                .codeflow-item {
                    .table.card-table.table-sm {
                        display: table;
                    }

                    .codeflow-codearea {
                        border: 3px solid var(--wiz-color-skyblue);
                    }
                }
            }
        }
    }

    .show-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 49%;
        left: 0;
        width: 16px;
        height: 64px;
        background: var(--wiz-color-border);
        font-size: 16px;
        cursor: pointer;
        z-index: 1000;

        &:hover {
            background: var(--wiz-color-blue);
            color: #fff;
        }
    }

    .hide-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 49%;
        right: 0;
        width: 16px;
        height: 64px;
        background: var(--wiz-color-border);
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background: var(--wiz-color-blue);
            color: #fff;
        }
    }

    .app {
        width: 280px;
        height: 100%;
        border-right: 1px solid var(--wiz-color-border);
        overflow: hidden;
        position: relative;

        .app-search {
            display: flex;
            padding: 8px;
            border-bottom: 1px solid var(--wiz-color-border);
            height: 46px;
            background: var(--wiz-color-blue-lt);

            .btn, .form-control {
                height: 28px;
            }
        }

        .app-list {
            height: calc(100vh - 54px - 46px);
            overflow: auto;

            .no-items {
                font-size: 18px;
                font-weight: 1000;
                color: #555;

                .btn.btn-primary {
                    border-radius: 32px;
                }

                i {
                    font-size: 48px;
                    color: var(--wiz-color-blue);
                }
            }

            .app-info {
                border-bottom: 1px solid var(--wiz-color-border);
                line-height: 1;
                padding: 8px 16px;
                cursor: grab;
                display: flex;
                align-items: center;

                &.active {
                    background: var(--wiz-color-blue-lt);
                }

                .title-area {
                    flex: auto;
                    
                    .app-header {
                        font-size: 14px;
                        font-weight: 1000;
                        width: 128px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        border: none;
                        background: transparent;
                    }
                    
                    .app-namespace {
                        font-size: 12px;
                    }
                }

                &:hover {
                    background: var(--wiz-color-blue-lt);
                }

                .btn {
                    i {
                        font-size: 12px;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

#drawflow {
    cursor: grab;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    background-size: 25px 25px;
    background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px), linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
    border: none;

    .progress {
        display: none;
        background-color: var(--wiz-color-light);
    }

    .drawflow-delete {
        font-family: 'wiz-eb';
        border: 2px solid var(--wiz-color-red);
        background: var(--wiz-color-red);
        color: #fff;
        -webkit-box-shadow: 0 2px 20px 2px var(--wiz-color-red);
        box-shadow: 0 2px 20px 2px var(--wiz-color-red);
        line-height: 2;
    }
 
    .drawflow {
        .drawflow-node {
            display: block;
            background: #fff;
            border: 1px solid var(--wiz-color-light);
            -webkit-box-shadow: 0 2px 15px 2px var(--wiz-color-light);
            box-shadow: 0 2px 15px 2px var(--wiz-color-light);
            padding: 0px;
            width: 260px;

            .drawflow-delete {
                display: none;
            }

            .avatar-sm {
                width: 20px;
                height: 20px;
            }

            .actions {
                .status-indicator {
                    width: 50px;
                    display: none;
                    height: 32px;
                    border-right: 1px solid var(--wiz-color-border);
                    
                    .status-indicator-circle {
                        --tblr-status-circle-size: 8px;
                    }
                }

                .action-btn {
                    flex: auto;
                    text-align: center;
                    padding: 6px 8px;
                    border-right: 1px solid var(--wiz-color-border);
                    background: var(--wiz-color-blue-lt);
                    color: var(--wiz-color-blue);
                    cursor: pointer;

                    i {
                        width: 20px;
                        text-align: center;
                    }

                    &:hover {
                        background: var(--wiz-color-blue);
                        color: #fff;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }

                .action-btn-stop, .action-btn-play {
                    border-right: none;
                }

                .action-btn-stop {
                    display: none;
                }
            }

            &.selected {
                background: white;
                border: 1px solid var(--wiz-color-border);
                -webkit-box-shadow: 0 2px 20px 2px var(--wiz-color-border);
                box-shadow: 0 2px 20px 2px var(--wiz-color-border);

                .title-box {
                    color: #22598c;
                    border-bottom: 1px solid var(--wiz-color-border);
                }
            }

            .variable-header {
                display: flex;
                width: 100%;

                > div {
                    width: 50%;
                    text-align: center;
                    border-top: 1px solid var(--wiz-color-border);
                    background-color: var(--wiz-color-light);
                    padding: 2px;
                    font-weight: 1000;
                    font-size: 12px;

                    &:first-child {
                        border-right: 1px solid var(--wiz-color-border);
                    }
                }
            }

            .variable-container {
                width: 100% !important;
                display: flex;

                .input-container, .output-container {
                    width: 50%;
                    background: repeating-linear-gradient(-45deg, var(--wiz-color-light), var(--wiz-color-light) 2px, #fff 0, #fff 6px);
                    
                    .input-text, .output-text {
                        cursor: default;
                        border-bottom: 1px solid var(--wiz-color-border);
                        &:last-child {
                            border-bottom: none;
                        }
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 12px;
                        height: 25px;
                        background: #fff;

                        &.disabled {
                            background: transparent;
                        }
                    }

                    .input-text {
                        padding: 4px;
                        padding-left: 10px;
                        padding-right: 5px;
                    }

                    .output-text {
                        text-align: right;
                        padding: 4px;
                        padding-left: 5px;
                        padding-right: 10px;
                    }

                    .inputs, .outputs {
                        width: 0px;

                        .input, .output {
                            top: 5px;
                            margin-bottom: 10px;
                            height: 15px;
                            width: 15px;
                            border: 2px solid var(--wiz-color-light);
                            cursor: pointer;
                            background: white;

                            &:hover {
                                background: #4ea9ff;
                            }
                        }
                    }

                    .inputs {
                        position: absolute;
                        left: 18px;
                    }

                    .outputs {
                        position: absolute;
                        right: 10px;
                    }
                }
            }

            .input-container {
                border-right: 1px solid var(--wiz-color-border);
            }

            textarea, select {
                border: none;

                &:hover, &:focus {
                    border: none;
                    box-shadow: none;
                }
            }

            .debug-message {
                font-size: 12px;
                border: none;
                border-top: 1px solid var(--wiz-color-border);
                padding: 6px;
                max-height: 200px;
                overflow: auto;
                cursor: auto;
                white-space: nowrap;
                border-radius: 0;
                // word-break: break-all;

                -webkit-touch-callout: text;
                -webkit-user-select: text;
                -khtml-user-select: text;
                -moz-user-select: text;
                -ms-user-select: text;
                user-select: text;

                margin: 0;
                line-height: 16px;
                font-family: 'wiz-r';
            }
        }

        .connection {
            .main-path {
                stroke: var(--wiz-color-border);
                stroke-width: 3px;

                &.selected {
                    stroke: #4ea9ff;
                }
            }

            .point {
                stroke: none;
                fill: transparent;

                &.selected, &:hover {
                    stroke: var(--wiz-color-border);
                    fill: #4ea9ff !important;
                    cursor: pointer;
                }
            }

            &.selected .point {
                stroke: var(--wiz-color-border);
                fill: #fff;
            }
        }

        .card-header {
            background: var(--wiz-color-blue);
            color: #fff;
            padding: 6px 8px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &.bg-blue-lt {
                color: var(--wiz-color-blue) !important;

                .text-white {
                    color: var(--wiz-color-blue) !important;
                }
            }
            
            .card-title {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .btn.btn-sm {
                color: var(--wiz-color-blue);
                padding: 4px 8px;
                font-size: 12px;
                border-radius: 32px;
            }
        }

        .value-container {
            .value-header {
                font-size: 12px;
                font-weight: 1000;
                padding: 2px;
                background-color: var(--wiz-color-light);
                border-bottom: 1px solid var(--wiz-color-border);
                text-align: center;
            }
            
            .value-wrapper {
                display: flex;
                border-bottom: 1px solid var(--wiz-color-border);

                &:last-child {
                    border-bottom: none;
                }

                .value-title {
                    border-right: 1px solid var(--wiz-color-border);
                    padding: 4px 8px;
                    width: 100px;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .value-data {
                    flex: auto;

                    textarea, select, input {
                        width: 100%;
                        height: auto;
                        min-height: 24px;
                    }
                }

                input {
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

#drive-modal {
    .drive-footer {
        height: 32px;

        .btn {
            border-radius: 0;
        }
    }

    .list-back {
        height: auto;
    }

    .workspace-tab-body {
        flex: auto;
        height: 100%;
        background-color: white;
    }

    .w-1 {
        width: 8px;
        white-space: nowrap;
        text-align: center;
    }

    .filename {
        word-break: break-all;
    }

    th {
        text-align: center;
    }

    tr {
        .d-flex {
            .form-control {
                border-radius: 36px;
            }
        }
        
        .actions {
            font-size: 24px;
            
            .dropdown {
                display: inline-block;
                
                ul {
                    display: none;

                    i {
                        width: 20px;
                        margin-right: 4px;
                    }
                }
            }

            .dropdown, .btn {
                opacity: 0;
                min-width: 48px;
                margin: 0;
            }
        }

        &:hover {
            .dropdown {
                display: inline-block;

                ul.show {
                    display: block;
                }
            }
            
            .dropdown, .btn {
                opacity: 1;
            }
        }
    }

    th, td {
        padding: 8px 12px;
        cursor: initial;

        .icon-box {
            display: inline-block;
        }

        a {
            color: #2F374E;
            cursor: pointer;
        }
        
        .avatar-container {
            display: flex;
            align-items: center;
            height: 32px;
            width: 32px;
            border-radius: 4px;
            text-align: center;
            vertical-align: middle;
            background-color: var(--wiz-color-border);
            color: #666;

            &.folder {
                background-color: #92CEFF;
                color: #51ACF6;
            }

            i {
                width: 32px;
                text-align: center;
            }
        }
    }
}

.page-title {
    span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 50vw;
    }
}


@media (max-width: 768px) {
    .drawflow {
        .action-btn {
            display: none;
        }

        .action-btn-mobile {
            display: block;
        }

        .action-btn-play, .action-btn-stop {
            display: block;
        }
    }

    .uimode {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff !important;
        border-left: none !important;
    }
}