.wrapper
    .container
        form.form.pb-1
            a.mb-4.cursor-pointer(href="/" style="display: inline-block;")
                img(src="/resources/images/logo.png" style="width: 160px; display: inline-block;")
                
            input(type="text" placeholder="User ID" ng-model="user.id")
            input(type="text" placeholder="mail@season.co.kr" ng-model="user.email")
            input(type="text" placeholder="Name" ng-model="user.username")
            input(type="password" placeholder="Password" ng-model="user.password")
            input(type="password" placeholder="Confirm Password" ng-model="user.password_re" ng-enter="join(user)")
            
            button(ng-click="join(user)") JOIN
            
            .mt-3
                a.text-white(href="/auth/login") Login

    ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li

    {$ wiz.render("component.modal") $}