.w-1 {
    white-space: nowrap;
    text-align: center;
    padding: 0 12px;
}

th {
    text-align: center;
}

th, td {
    text-align: center;
}

.nav.nav-tabs {
    .nav-link {
        border-bottom: 1px solid rgba(101,109,119,.16);
    }

    .nav-link.active {
        font-family: 'wiz-eb';
        color: inherit;
        border-bottom: 1px solid #fff;
    }
}

.card {
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }
}

.card-header {
    .btn {
        padding: 4px 12px;
        font-family: 'wiz-eb';
        font-size: 14px;
    }
}

.img-responsive {
    width: 100%;
    display: block;
    padding: 0;
    background: no-repeat center/cover;
}

.btn-page {
    margin: 0 2px;
}

h1 {
    border: none !important;
}

.description {
    min-height: 200px;
}

.card {
    $br: 14px;
    border-radius: $br;
    
    .img-responsive {
        border-top-right-radius: $br;
        border-top-left-radius: $br;
    }
}

.featured-area {
    position: relative;

    .status-area {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255,255,255,.8);
        border-top-left-radius: 13px;
        border-bottom-right-radius: 13px;
        border-right: 1px solid var(--wiz-color-border);
        border-bottom: 1px solid var(--wiz-color-border);
        padding: 4px 12px;
        width: 120px;
        text-align: center;
        z-index: 10;
    }   
}