.style-samples.mb-4
    .page-header.area-round.mb-3
        .row.align-items-center
            .col-auto
                span.status-indicator.status-indicator-animated.status-primary
                    span.status-indicator-circle
                    span.status-indicator-circle
                    span.status-indicator-circle

            .col
                h2.page-title WIZ Demo Page
                .text-muted
                    ul.list-inline.list-inline-dots.mb-0
                        li.list-inline-item sample page
            .col-3
                input.form-control(type="text" placeholder="Search..." ng-model="search.text" ng-change="event.search(search.text)")

            .col-auto
                a.btn.btn-primary(href="{$ wiz.server.plugin.url('ui/workspace/ide') + '#app/view.style.button' $}" target="_blank")
                    i.fa-solid.fa-code

    .row.row-deck.row-cards
        .col-md-4
            .card
                .card-header
                    h4.card-title Buttons
                .card-body.text-center
                    .mb-2
                        a.btn.btn-blue button
                        span.mr-2
                        a.btn.btn-red button

                    .mb-2
                        a.btn.btn-blue.btn-lg button
                        span.mr-2
                        a.btn.btn-red.btn-lg button

                    .mb-2
                        a.btn.btn-blue.btn-circle button
                        span.mr-2
                        a.btn.btn-red.btn-circle button

                    div
                        a.btn.btn-blue.btn-circle.btn-lg button
                        span.mr-2
                        a.btn.btn-red.btn-circle.btn-lg button

        .col-md-4
            .card.area-round
                .card-header
                    h4.card-title Round Area
                .card-body.text-center
                    .mb-2
                        input.form-control(placeholder="some text")
                    .mb-2
                        select.form-select
                            option value
                    .mb-2
                        a.btn.btn-blue button
                        span.mr-2
                        a.btn.btn-red button
                    div
                        a.btn.btn-blue.btn-lg button
                        span.mr-2
                        a.btn.btn-red.btn-lg button
                    

        .col-md-4
            .card.area-round
                .card-header
                    h4.card-title Form Group
                .card-body.text-center
                    .form-group.row.mb-2
                        .col-3
                            label.form-label.col-form-label App ID
                        .col
                            input.form-control.form-control-sm(type="text" placeholder="some text")

                    .form-group.row.mb-2
                        .col-3
                            label.form-label.col-form-label Password
                        .col
                            input.form-control.form-control-sm(type="password" placeholder="some text")

                    .form-group.row.mb-3
                        .col-3
                            label.form-label.col-form-label Category
                        .col.col-form-select
                            .form-selectgroup
                                label.form-selectgroup-item
                                    input.form-selectgroup-input(type="radio" name="category" value="wiz")
                                    span.form-selectgroup-label wiz
                                label.form-selectgroup-item
                                    input.form-selectgroup-input(type="radio" name="category" value="season")
                                    span.form-selectgroup-label season
                    
                .card-footer.d-flex
                    .btn.btn-white Cancel
                    .ml-auto
                    .btn.btn-primary Action