doctype 5

html(ng-app="app")
    head
        {$ wiz.theme('default', 'base', 'header.pug') $}
        
    body.antialiased
        script(src='/resources/themes/default/libs/tabler/dist/js/tabler.min.js')
                
        {$ view $}
